@{
    ViewBag.Title = "@PlantQuar.WEB.Language.Resource_data1.Im_CustodyPlaceType";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

@section Title{
    <h2 class="ls-top-header">@PlantQuar.WEB.Language.Resource_data1.Im_CustodyPlaceType</h2>
}

<br />
@section filter{
    <div class="row">
        <label class="col-md-2">@PlantQuar.WEB.Language.Resource_data1.ArabicName</label>
        <input type="text" class="form-inline col-md-3" autocomplete="off" name="txt_AR_BTNSearch" id="txt_AR_BTNSearch" />
        <label class="col-md-2">@PlantQuar.WEB.Language.Resource_data1.EnglishName</label>&nbsp;
        <input type="text" class="form-inline col-md-3" autocomplete="off" name="txt_EN_BTNSearch" id="txt_EN_BTNSearch" />&nbsp;
        <input type="button" class="col-lg-1 col-md-2 btn btn-primary" id="LoadRecordsButton" value="@PlantQuar.WEB.Language.Resource_data1.Search">
    </div>
}

@section Path{
    <li>الوارد</li>
    <li class="active">@PlantQuar.WEB.Language.Resource_data1.Im_CustodyPlaceType</li>
}

@section scripts{
    <script>
        $(document).ready(function () {
            $("#min-wrapper").toggleClass("height");
            $("blockquote.styles").toggleClass("height1");
            $("#main-content").toggleClass("height2");
        });
    </script>
    <script type="text/javascript">
        $(function () {
            $('#ExaminLocationTypeList').jtable({
                title: '@PlantQuar.WEB.Language.Resource_data1.Im_CustodyPlaceType',
                paging: true,
                pageSize: 10,
                sorting: true,
                //defaultSorting: 'CourseName ASC',
                columnResizable: true,
                columnSelectable: true,
                saveUserPreferences: true,
                actions: {

                    listAction: '/Im_CustodyPlaceType/Im_CustodyPlaceList',
                    createAction: '/Im_CustodyPlaceType/CreateIm_CustodyPlace',
                    updateAction: '/Im_CustodyPlaceType/UpdateIm_CustodyPlace',
                    deleteAction: '/Im_CustodyPlaceType/DeleteIm_CustodyPlace'
                },
                fields: {
                    ID: {
                        key: true,
                        create: false,
                        edit: false,
                        list: false
                    },
                    Name_Ar: {
                        title: '@PlantQuar.WEB.Language.Resource_data1.ArabicName',
                        inputClass: 'validate[required]',


                        list: true
                    },
                    Name_En: {
                        title: '@PlantQuar.WEB.Language.Resource_data1.EnglishName',
                        inputClass: 'validate[required]',


                        list: true
                    },

                },
                formCreated: function (event, data) {

                    if (data.formType == "create") {
                        $(".ui-dialog-title").text("@PlantQuar.WEB.Language.Resource_data1.Add");
                    }
                    else {
                        $(".ui-dialog-title").text("@PlantQuar.WEB.Language.Resource_data1.Edit");
                    }

                    $("#Edit-Name_Ar, #Edit-Name_En, #txt_AR_BTNSearch, #txt_EN_BTNSearch").attr('autocomplete', 'off');

                    // Arabic + spaces + numeric
                    $("#Edit-Name_Ar").keypress(function (e) {

                        var unicode = e.charCode ? e.charCode : e.keyCode
                        if (unicode != 8) { //if the key isn't the backspace key (which we should allow)
                            if (unicode == 32)
                                return true;
                            else {
                                if ((unicode < 48 || unicode > 57) && (unicode < 0x0600 || unicode > 0x06FF)) //if not a number or arabic
                                    return false; //disable key press
                            }
                        }
                    });
                    // English + spaces + numeric
                    $("#Edit-Name_En").keypress(function (e) {

                        var unicode = e.charCode ? e.charCode : e.keyCode
                        if (unicode != 8) { //if the key isn't the backspace key (which we should allow)
                            if (unicode == 32)
                                return true;
                            else {
                                if (!(unicode < 0x0600 || unicode > 0x06FF)) //if not english
                                    return false; //
                            }
                        }
                    });

                },
                formSubmitting: function (event, data) {
                    return data.form.validationEngine('validate');
                },
                formClosed: function (event, data) {
                    data.form.validationEngine('hide');
                    data.form.validationEngine('detach');
                    $(".ui-dialog-title").text("@PlantQuar.WEB.Language.Resource_data1.Delete");
                },
                recordAdded: function (event, data) {
                    //Mah+Ag 17-4-2019 change display message
                    alertify.success("@PlantQuar.WEB.Language.Resource_data1.Save_Insert");
                },
                recordUpdated: function (event, data) {
                                        //Mah+Ag 17-4-2019 change display message
                    alertify.success("@PlantQuar.WEB.Language.Resource_data1.Save_Update");
                },
                recordDeleted: function (event, data) {
                                        //Mah+Ag 17-4-2019 change display message
                    alertify.success("@PlantQuar.WEB.Language.Resource_data1.Save_Delete");
                },
            });
            $('#ExaminLocationTypeList').jtable('load');


            $('#LoadRecordsButton').click(function (e) {

                e.preventDefault();
                $('#ExaminLocationTypeList').jtable('load', {

                    txt_AR_BTNSearch: $('#txt_AR_BTNSearch').val(),
                    txt_EN_BTNSearch: $('#txt_EN_BTNSearch').val()
                });
            });

            $(".jtable-toolbar-item-add-record .jtable-toolbar-item-text").text("@PlantQuar.WEB.Language.Resource_data1.Add");
            $("#txt_AR_BTNSearch").keypress(function (e) {
                var unicode = e.charCode ? e.charCode : e.keyCode
                if (unicode != 8) { //if the key isn't the backspace key (which we should allow)
                    if (unicode == 32) { }// return data.form.validationEngine('validate');
                    else {
                        if (((unicode < 48 || unicode > 57) && unicode != 13) && (unicode < 0x0600 || unicode > 0x06FF)) //if not a number or arabic

                        {
                            return false; //disable key press
                        } else {
                            if (unicode == 13) {
                                $('#LoadRecordsButton').click();
                            }

                        }


                    }
                }
            });
            $("#txt_EN_BTNSearch").keypress(function (e) {

                var unicode = e.charCode ? e.charCode : e.keyCode
                if (unicode != 8) { //if the key isn't the backspace key (which we should allow)
                    if (unicode == 32)
                        return true;
                    else {
                        if (!(unicode < 0x0600 || unicode > 0x06FF)) //if not english
                        {
                            return false; //disable key press
                        } else {
                            if (unicode == 13) {
                                $('#LoadRecordsButton').click();
                            }

                        }
                    }
                }
            });

        });
    </script>
    <script type="text/javascript">


    $("#tableExcell").click(function () {
        var html = "";
        $.getJSON('/AnalysisLab/AllIm_CustodyPlaceType', {}, function (data, succ) {
           // console.log(data)
            $.each(data, function (i, item) {

                html += "<tr><td>" + data[i].Name_Ar + "</td><td>" + data[i].Name_En + "</td>"

                html += "</tr>";
            });
            $("#tbl tbody").empty();
            $("#tbl tbody").append(html);
            tableToExcel('all analysis lab', 'Table');
        });


    });

    var tableToExcel = (function () {
        var uri = 'data:application/vnd.ms-excel;base64,'
            , template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--><meta charset="UTF-8"></head><body><table>{table}</table></body></html>'
            , base64 = function (s) { return window.btoa(unescape(encodeURIComponent(s))) }
            , format = function (s, c) { return s.replace(/{(\w+)}/g, function (m, p) { return c[p]; }) }
        return function (table, name) {
            if (!table.nodeType) table = document.getElementById('tbl')
            var ctx = { worksheet: '@PlantQuar.WEB.Language.Resource_data1.AnalysisLab', table: table.innerHTML }
            window.location.href = uri + base64(format(template, ctx))
        }
    })()
    </script>

}
<br />
<div id="ExaminLocationTypeList">
</div>





<br />
<br />
<br />
<div class="row">
    <iframe id="txtArea1" style="display:none"></iframe>
    <input type="button" value="@PlantQuar.WEB.Language.Resource_data1.Export_to_Excel" id="tableExcell">
    <br>
    <br>
    <div class="col-md-12" style="display:none;">
        <br>
        <br>
        <table id="tbl">
            <thead>
                <tr style="background-color:aqua;">
                    <th>Arabic Name</th>
                    <th>English Name</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>

    </div>

</div>

<style>
    #tableExcell {
        float: right;
        height: 37px;
        width: 133px;
        background-color: #1e7c80;
        border: 2px solid #1e8084;
        box-shadow: 0 4px #1d9fa5;
        outline: none;
        color: white;
    }

        #tableExcell:hover {
            background-color: #1a8488;
            border: 1px solid #1a8488;
        }
</style>








