@*@model PagedList.IPagedList<PlantQuar.DTO.DTO.ImPermissionsListDTO>*@

@model List<PlantQuar.DTO.DTO.Pallet_Export_CheckRequest.Pallet_EXCheckRequestListDTO>

@*@using PagedList.Mvc;*@

<link href="/Content/PagedList.css" rel="stylesheet" type="text/css" />
<link href="~/assets/css/jquery.dataTables.min.css" rel="stylesheet" />
<style>
    th {
        font-size: 14px !important;
        text-align: center;
    }

    td {
        font-size: 16px !important;
        text-align: center;
        font-family: "Times New Roman", Times, serif !important;
    }

    .status {
        display: inline-block;
        margin: 20px 0px 20px 50px;
    }

    p {
        font-weight: bold;
    }

    #capq blockquote.styles {
        margin-bottom: 70px;
    }

    .btn-secondary {
        background-color: #1fb5ad;
    }

        .btn-secondary:not([disabled]):not(.disabled):active, .btn-secondary:not([disabled]):not(.disabled).active, .show > .btn-secondary.dropdown-toggle {
            color: #fff;
            background-color: #0c6265;
            border-color: #9ec7da;
            box-shadow: inset 0 3px 5px rgba(45, 101, 93, 0.125), 0 0 0 2px rgba(72, 145, 152, 0.5);
        }

        .btn-secondary:hover {
            background-color: #389da0;
            border-color: #7fc7d0;
        }

    .btn-group > .btn, .btn-group-vertical > .btn {
        width: 159px;
    }

    option:focus,
    option:hover {
        outline: none;
    }

    option {
        color: #379598 !important;
    }

    .table-bordered tbody tr:nth-child(odd) td {
        background-color: #ececec;
    }

    .table-bordered tbody tr:nth-child(even) td {
        /*background-color: #31979a2e;*/
    }

    .table-bordered tbody tr.highlight td {
        background-color: #F2F5A9;
    }

    /*.table-bordered tbody tr:hover {
        background-color: #86d8e6;
        color: black;
        font-weight: bold;
    }*/

    .ch {
        list-style: none;
        margin: 0;
        padding: 0;
        overflow: auto;
        display: inline-block;
        bottom: 50px;
        position: relative;
    }

        .ch li {
            color: #545050;
            display: block;
            position: relative;
            float: right;
            /*width: 100%;*/
            height: 100px;
            /*border-bottom: 1px solid #333;*/
            /*display: inline-block*/
        }

            .ch li input[type=radio] {
                position: absolute;
                visibility: hidden;
            }

            .ch li label {
                display: block;
                position: relative;
                font-weight: 300;
                font-size: 15px;
                padding: 24px 36px 0px 55px;
                margin: 9px auto;
                height: 30px;
                z-index: 9;
                cursor: pointer;
                -webkit-transition: all 0.25s linear;
            }

            .ch li:hover label {
                color: #3da4a7;
            }

            .ch li .check {
                display: block;
                position: absolute;
                border: 5px solid #686664;
                border-radius: 100%;
                height: 25px;
                width: 25px;
                top: 30px;
                left: 20px;
                z-index: 5;
                transition: border .25s linear;
                -webkit-transition: border .25s linear;
            }

            .ch li:hover .check {
                border: 5px solid #3da4a7;
            }

            .ch li .check::before {
                display: block;
                position: absolute;
                content: '';
                border-radius: 100%;
                height: 10px;
                width: 9px;
                top: 2px;
                left: 3px;
                margin: auto;
                transition: background 0.25s linear;
                -webkit-transition: background 0.25s linear;
            }

    input[type=radio]:checked ~ .check {
        border: 5px solid #0c6265;
    }

        input[type=radio]:checked ~ .check::before {
            background: #0c6265;
        }

    input[type=radio]:checked ~ label {
        color: #0c6265;
    }

    .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
        z-index: 2;
        color: #ffffff;
        cursor: default;
        background-color: #257e80 !important;
        border-color: #1da8ab !important;
    }

    .pagination {
        right: 292px;
        position: relative;
    }

    select.form-control:not([size]):not([multiple]) {
        height: 3.573rem;
    }

    a {
        color: #0032e6;
        text-decoration: none;
    }

    .test {
        color: #a52525 !important;
    }

    .table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
        border: 1px solid black !important;
        padding: 5px;
    }

    #checkRequest_lst {
        display: block;
        overflow-x: auto;
        position: relative;
    }

    #btn_Approved {
        margin-bottom: 10px;
        width: 40%;
        float: left;
        color: white;
    }

    .form-control {
        height: 3.573rem !important;
        margin-top: 8px !important;
        padding: 5px;
    }

    #Results {
        height: 37px !important;
        width: 133px;
        background-color: #1e7c80;
        border: 2px solid #1e8084;
        box-shadow: 0 4px #1d9fa5;
        outline: none;
        color: white;
        float: left;
        margin-top: 25px !important;
        border-radius: 0px;
    }

    table, table td, table th {
        border: 1px solid black !important;
        border-collapse: collapse !important;
        word-break: break-word !important;
    }
</style>
<style>
    th {
        font-size: 14px !important;
        text-align: center;
    }

    td {
        font-size: 16px !important;
        text-align: center;
        font-family: "Times New Roman", Times, serif !important;
    }

    .status {
        display: inline-block;
        margin: 20px 0px 20px 50px;
    }

    p {
        font-weight: bold;
    }

    #capq blockquote.styles {
        margin-bottom: 70px;
    }

    .btn-secondary {
        background-color: #1fb5ad;
    }

        .btn-secondary:not([disabled]):not(.disabled):active, .btn-secondary:not([disabled]):not(.disabled).active, .show > .btn-secondary.dropdown-toggle {
            color: #fff;
            background-color: #0c6265;
            border-color: #9ec7da;
            box-shadow: inset 0 3px 5px rgba(45, 101, 93, 0.125), 0 0 0 2px rgba(72, 145, 152, 0.5);
        }

        .btn-secondary:hover {
            background-color: #389da0;
            border-color: #7fc7d0;
        }

    .btn-group > .btn, .btn-group-vertical > .btn {
        width: 159px;
    }

    option:focus,
    option:hover {
        outline: none;
    }

    .label-primary {
        background-color: #6dcac2
    }

    option {
        color: #379598 !important;
    }

    .table-bordered tbody tr:nth-child(odd) td {
        background-color: #ececec;
    }

    .table-bordered tbody tr:nth-child(even) td {
        /*background-color: #31979a2e;*/
    }

    .table-bordered tbody tr.highlight td {
        background-color: #F2F5A9;
    }

    /*.table-bordered tbody tr:hover {
        background-color: #86d8e6;
        color: black;
        font-weight: bold;
    }*/

    .ch {
        list-style: none;
        margin: 0;
        padding: 0;
        overflow: auto;
        display: inline-block;
        bottom: 50px;
        position: relative;
    }

        .ch li {
            color: #545050;
            display: block;
            position: relative;
            float: right;
            /*width: 100%;*/
            height: 100px;
            /*border-bottom: 1px solid #333;*/
            /*display: inline-block*/
        }

            .ch li input[type=radio] {
                position: absolute;
                visibility: hidden;
            }

            .ch li label {
                display: block;
                position: relative;
                font-weight: 300;
                font-size: 15px;
                padding: 24px 36px 0px 55px;
                margin: 9px auto;
                height: 30px;
                z-index: 9;
                cursor: pointer;
                -webkit-transition: all 0.25s linear;
            }

            .ch li:hover label {
                color: #3da4a7;
            }

            .ch li .check {
                display: block;
                position: absolute;
                border: 5px solid #686664;
                border-radius: 100%;
                height: 25px;
                width: 25px;
                top: 30px;
                left: 20px;
                z-index: 5;
                transition: border .25s linear;
                -webkit-transition: border .25s linear;
            }

            .ch li:hover .check {
                border: 5px solid #3da4a7;
            }

            .ch li .check::before {
                display: block;
                position: absolute;
                content: '';
                border-radius: 100%;
                height: 10px;
                width: 9px;
                top: 2px;
                left: 3px;
                margin: auto;
                transition: background 0.25s linear;
                -webkit-transition: background 0.25s linear;
            }

    input[type=radio]:checked ~ .check {
        border: 5px solid #0c6265;
    }

        input[type=radio]:checked ~ .check::before {
            background: #0c6265;
        }

    input[type=radio]:checked ~ label {
        color: #0c6265;
    }

    .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
        z-index: 2;
        color: #ffffff;
        cursor: default;
        background-color: #257e80 !important;
        border-color: #1da8ab !important;
    }

    .pagination {
        right: 292px;
        position: relative;
    }

    select.form-control:not([size]):not([multiple]), #permisionnumber {
        height: 3.573rem;
        margin-top: 8px;
    }

    a {
        color: #0032e6;
        text-decoration: none;
    }

    .test {
        color: #a52525 !important;
    }

    .table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
        border: 2px solid #000 !important;
    }

    #checkRequest_lst {
        display: block;
        overflow-x: auto;
        position: relative;
    }

    #btn_Approved {
        margin-bottom: 10px;
        width: 40%;
        float: left;
        color: white;
    }

    .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
        padding: 3px !important;
    }

    #Results {
        height: 37px;
        width: 133px;
        background-color: #1e7c80;
        border: 2px solid #1e8084;
        box-shadow: 0 4px #1d9fa5;
        outline: none;
        color: white;
        float: left;
        margin-top: 25px;
        border-radius: 0px
    }
</style>
@{
    ViewBag.Title = "طلبات فحص الوارد";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
    var model = Model;
}

@section Title{
    <h2 class="ls-top-header">بالتات</h2>
}

@section Path{
    <li style="position: relative;right: 28px;">فحص</li>
    <li class="active" style="right: 29px; position: relative;">Pallet Ex Check Request List</li>
}




<div class="row">
    <div class="col-md-2  col-sm-12">

        <p style="font-weight:bold;margin-top:15px;">موقف الطلب</p>
    </div>


    <div class="col-md-6">
        <select id="selectApprove" class="form-control">
            <option id="rdoApprovedAll" value="choose">@PlantQuar.WEB.Language.Resource_data1.choose</option>
            <option id="rdoApprovedAll" value="1">@PlantQuar.WEB.Language.Resource_data1.chooseall</option>
            <option id="rdoRefusedAll" value="2">لم يتم الموافقة</option>
            <option id="rdoNothingAll" value="3">لم يتم اتخاذ اجراء</option>
            <option id="rdoClosedAll" value="4">الطلب مغلق</option>
        </select>
    </div>
    <div class="col-md-4"></div>
    @*<div class="col-md-4 col-sm-12">
            <div>
                <p style="font-weight:bold">@PlantQuar.WEB.Language.Resource_data1.RequestNumber</p>
            </div>
            <input type="text" placeholder="بحث برقم الطلب" class="form-control" id="requestnumber" />
        </div>
        <div class="col-md-4 col-sm-12">
            <input type="button" value='@PlantQuar.WEB.Language.Resource_data1.Search' placeholder="search" id="btn_Approved" class="form-control" />
        </div>*@
</div>
<br />
<br />
@*الكل*@
<div id="checkRequest_lst4" class="table-responsive" hidden="hidden">
    <table class="table table-bordered col-md-12" id="tblCheckLst">
        <thead>
            <tr class="label-primary">
                <th>م</th>
                <th>@PlantQuar.WEB.Language.Resource_data1.RequestNumber</th>
                <th>@PlantQuar.WEB.Language.Resource_data1.ImporterType</th>
                <th>Importer Name</th>
                <th>Export Country</th>
                <th>Creation Date</th>
                <th>@PlantQuar.WEB.Language.Resource_data1.Details</th>
                <th>تشكيل اللجنه</th>
                <th>عرض النتائج</th>
                <th>@PlantQuar.WEB.Language.Resource_data1.Print </th>
            </tr>
        </thead>
        <tbody>
            @if (model != null)
            {

                var i = 1;
                foreach (var item in model.OrderBy(x => x.Ex_CheckRequest_ID))
                {
                    //if (item.ImCheckRequest_Number == "73620231314185493")
                    //{
                    <tr>
                        <td>@i</td>
                        <td>@item.ImCheckRequest_Number</td>
                        <td>@item.ImporterTypeName</td>
                        <td>@item.ImporterName</td>
                        <td>@item.ExportCountryName</td>
                        <td>@item.Creation_Date.ToString("dd/MM/yyyy")</td>
                        <td><a href='/Pallet_Export_CheckRequest/Pallet_EX_CheckRequestDetails/Index?ImCheckRequest_Number=@item.ImCheckRequest_Number'>@PlantQuar.WEB.Language.Resource_data1.Details</a></td>

                        @*make checks for status*@
                        @*//Ex_Final_Result_ID*@
                        @if (item.IsAccepted == true && @item.IsPaid == null)
                        {
                            <td>تمت الموافقة على الطلب ولم يتم الدفع</td>
                        }
                        else if (@item.IsPaid == true && @item.Closed_Request == 0)
                        {
                            <td>
                                <span>تم الدفع </span><br />
                                <a href='/Pallet_Export_CheckRequest/Pallet_Ex_Committee/Index?requestId=@item.Ex_CheckRequest_ID&Outlet_ID=@item.Outlet_ID'>تشكيل لجنه </a>
                            </td>

                        }
                        else if (item.Final_Result_ID == 1)
                        {
                            <td>
                                <span>تم الدفع </span><br />
                                <a href='/Pallet_Export_CheckRequest/Pallet_Ex_Committee/Index?requestId=@item.Ex_CheckRequest_ID&Outlet_ID=@item.Outlet_ID'>تشكيل لجنه جشني </a>
                            </td>
                        }
                        else if (item.IsPaid == false)
                        {
                            <td>
                                <span>لم يتم الدفع </span><br />
                            </td>
                        }

                        else
                        {
                            <td style='color: red;font-weight: 700;'>لم يتم اتخاذ اجراء</td>
                        }

                        @*<td><a href='/Export_CheckRequest_New/EX_Committee_Final_Result/Index?requestId=@item.Ex_CheckRequest_ID&Outlet_ID=@item.Outlet_ID'>عرض النتائج</a></td>*@
                        <td><a href='/Pallet_Export_CheckRequest/Pallet_EX_Committee_Final_Result/Index?requestId=@item.Ex_CheckRequest_ID&Outlet_ID=@item.Outlet_ID'>عرض النتائج</a></td>
                        @*//make check for requestCerificate*@
                        @if (item.countPrint > 0)
                        {
                            <td><a href='/Pallet_Export_CheckRequest/Pallet_CertificateList/Index?requestNumber=@item.ImCheckRequest_Number&Outlet_ID=@item.Outlet_ID'>طباعــة</a></td>
                        }
                        else
                        {
                            <td>لا يوجد طلبات طباعه</td>
                        }
                    </tr>
                    // @count= count + 1;
                    i++;
                    //}
                }
            }
        </tbody>
    </table>
</div>
@*لم يتم الموافقة*@
<div id="checkRequest_lst1" class="table-responsive" hidden="hidden">
    <table class="table table-bordered col-md-12" id="tblCheckLst1">
        <thead>
            <tr class="label-primary">
                <th>م</th>
                <th>@PlantQuar.WEB.Language.Resource_data1.RequestNumber</th>
                <th>@PlantQuar.WEB.Language.Resource_data1.ImporterType</th>
                <th>Importer Name</th>
                <th>Export Country</th>
                <th>Creation Date</th>
                <th>@PlantQuar.WEB.Language.Resource_data1.Details</th>
                <th>تشكيل اللجنه</th>
                <th>عرض النتائج</th>
            </tr>
        </thead>
        <tbody>
            @if (model != null)
            {
                foreach (var item in model.Where(a => a.IsAccepted == false))
                {
                    <tr>
                        <td>@item.Ex_CheckRequest_ID</td>
                        <td>@item.ImCheckRequest_Number</td>
                        <td>@item.ImporterTypeName</td>
                        <td>@item.ImporterName</td>
                        <td>@item.ExportCountryName</td>
                        <td>@item.Creation_Date.ToString("dd/MM/yyyy")</td>
                        <td><a href='/Pallet_Export_CheckRequest/Pallet_EX_CheckRequestDetails/Index?ImCheckRequest_Number=@item.ImCheckRequest_Number'>@PlantQuar.WEB.Language.Resource_data1.Details</a></td>
                        <td style='color: red;font-weight: 700;'>لم يتم الموافقة</td>
                        <td><a href='/Pallet_Export_CheckRequest/Pallet_EX_Committee_Final_Result/Index?requestId=@item.Ex_CheckRequest_ID&Outlet_ID=@item.Outlet_ID'>عرض النتائج</a></td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
@*لم يتم اتخاذ اجراء*@
<div id="checkRequest_lst2" class="table-responsive" hidden="hidden">
    <table class="table table-bordered col-md-12" id="tblCheckLst2">
        <thead>
            <tr class="label-primary">
                <th>م</th>
                <th>@PlantQuar.WEB.Language.Resource_data1.RequestNumber</th>
                <th>@PlantQuar.WEB.Language.Resource_data1.ImporterType</th>
                <th>Importer Name</th>
                <th>Export Country</th>
                <th>Creation Date</th>
                <th>@PlantQuar.WEB.Language.Resource_data1.Details</th>
                <th>تشكيل اللجنه</th>
                <th>عرض النتائج</th>
            </tr>
        </thead>
        <tbody>
            @if (model != null)
            {
                foreach (var item in model.Where(a => a.IsAccepted != true && a.IsAccepted != false))
                {
                    <tr>
                        <td>@item.Ex_CheckRequest_ID</td>
                        <td>@item.ImCheckRequest_Number</td>
                        <td>@item.ImporterTypeName</td>
                        <td>@item.ImporterName</td>
                        <td>@item.ExportCountryName</td>
                        <td>@item.Creation_Date.ToString("dd/MM/yyyy")</td>
                        <td><a href='/Pallet_Export_CheckRequest/Pallet_EX_CheckRequestDetails/Index?ImCheckRequest_Number=@item.ImCheckRequest_Number'>@PlantQuar.WEB.Language.Resource_data1.Details</a></td>
                        <td style='color: red;font-weight: 700;'>لم يتم اتخاذ اجراء</td>
                        <td><a href='/Pallet_Export_CheckRequest/Pallet_EX_Committee_Final_Result/Index?requestId=@item.Ex_CheckRequest_ID&Outlet_ID=@item.Outlet_ID'>عرض النتائج</a></td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
@*الطلب مغلق*@
<div id="checkRequest_lst3" class="table-responsive" hidden="hidden">
    <table class="table table-bordered col-md-12" id="tblCheckLst3">
        <thead>
            <tr class="label-primary">
                <th>م</th>
                <th>@PlantQuar.WEB.Language.Resource_data1.RequestNumber</th>
                <th>@PlantQuar.WEB.Language.Resource_data1.ImporterType</th>
                <th>Importer Name</th>
                <th>Export Country</th>
                <th>Creation Date</th>
                <th>@PlantQuar.WEB.Language.Resource_data1.Details</th>
                <th>تشكيل اللجنه</th>
                <th>عرض النتائج</th>
            </tr>
        </thead>
        <tbody>
            @if (model != null)
            {
                foreach (var item in model.Where(a => a.Closed_Request > 0))
                {



                    <tr>
                        <td>@item.Ex_CheckRequest_ID</td>
                        <td>@item.ImCheckRequest_Number</td>
                        <td>@item.ImporterTypeName</td>
                        <td>@item.ImporterName</td>
                        <td>@item.ExportCountryName</td>
                        <td>@item.Creation_Date.ToString("dd/MM/yyyy")</td>
                        <td><a href='/Pallet_Export_CheckRequest/Pallet_EX_CheckRequestDetails/Index?ImCheckRequest_Number=@item.ImCheckRequest_Number'>@PlantQuar.WEB.Language.Resource_data1.Details</a></td>
                        <td style='color: red;font-weight: 700;'>الطلب مغلق</td>
                        <td><a href='/Pallet_Export_CheckRequest/Pallet_EX_Committee_Final_Result/Index?requestId=@item.Ex_CheckRequest_ID&Outlet_ID=@item.Outlet_ID'>عرض النتائج</a></td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
@*@Html.Partial("~/Areas/Im_CheckRequests/Views/List_ImCheckRequestDetail/Index.cshtml")*@


<script>

    $('select').change(function () {


        if ($('#selectApprove').val() != 'choose') {
            if (this.value == '1') {

                $("#checkRequest_lst4").show();
                $("#checkRequest_lst1").hide();
                $("#checkRequest_lst2").hide();
                $("#checkRequest_lst3").hide();
                $('#tblCheckLst').DataTable();
            }
            else if (this.value == '2') {

                $("#checkRequest_lst4").hide();
                $("#checkRequest_lst1").show();
                $("#checkRequest_lst2").hide();
                $("#checkRequest_lst3").hide();
                $('#tblCheckLst1').DataTable();
            }
            else if (this.value == '3') {
                $("#checkRequest_lst4").hide();
                $("#checkRequest_lst1").hide();
                $("#checkRequest_lst2").show();
                $("#checkRequest_lst3").hide();
                $('#tblCheckLst2').DataTable();
            }
            else if (this.value == '4') {
                $("#checkRequest_lst4").hide();
                $("#checkRequest_lst1").hide();
                $("#checkRequest_lst2").hide();
                $("#checkRequest_lst3").show();
                $('#tblCheckLst3').DataTable();
            }
        }
        else
        {
                 alertify.error("@PlantQuar.WEB.Language.Resource_data1.ChooseStatusofCommittee");
        }
        });
</script>
<script src="~/scripts/jquery.dataTables.min.js"></script>
