
@model List<PlantQuar.DTO.DTO.Export_CheckRequest.Ex_ListDTO>

@using PlantQuar.WEB.HtmlHelpers;

<link href="/Content/PagedList.css" rel="stylesheet" type="text/css" />
<link href="~/assets/css/jquery.dataTables.min.css" rel="stylesheet" />
<style>
    .bootstrap-select .dropdown-menu.inner {
        margin-right: 0px !important;
    }
</style>
<link href="~/assets/css/bootstrap-select.min.css" rel="stylesheet" />

@*<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">*@
<script src="~/assets/js/bootstrap.min.js"></script>
<link href="~/Content/login/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
@{
    ViewBag.Title = "كل طلبات الفحص الصادر";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
    var model = Model;
}

@section Title{
    <h2 class="ls-top-header">@ViewBag.Title</h2>
}

@section Path{
    <li style="position: relative;right: 28px;">فحص</li>
    <li class="active" style="right: 29px; position: relative;">Im Check Request List</li>
}

<form method="get" class="filter-form">
    <h3 class="text-center card-title">
        بحث
        <a href="#" id="hide_search" style="text-decoration:none;">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-double-up" fill="currentColor" >
                <path fill-rule="evenodd" d="M7.646 2.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 3.707 2.354 9.354a.5.5 0 1 1-.708-.708l6-6z"></path>
                <path fill-rule="evenodd" d="M7.646 6.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 7.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z"></path>
            </svg>
        </a>
        <a href="#" id="show_search" style="text-decoration:none;display:none;">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-double-down" fill="currentColor" >
                <path fill-rule="evenodd" d="M1.646 6.646a.5.5 0 0 1 .708 0L8 12.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"></path>
                <path fill-rule="evenodd" d="M1.646 2.646a.5.5 0 0 1 .708 0L8 8.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"></path>
            </svg>
        </a>
    </h3>
    <input type="hidden" id="subId" value="-1">
    <div class="row search-row">

        <div class="col-md-4">
            <label>البحث برقم الطلب</label>
            <div>
                <input type="text" class="form-control" placeholder="ابحث برقم الطلب" id="Search" name="Search" value="@ViewBag.Search">

            </div>
        </div>
    </div>

    <br>
    <div class="text-center search-row">
        <button type="submit" class="btn btn-primary px-4">
            بحث
        </button> 
        <a href="~/Export_CheckRequest/List_EXCheckRequest/Index_ListAll" class="btn btn-outline-primary px-4">حذف</a>
    </div>
</form>

<br />
<br />
@*الكل*@
<div id="checkRequest_lst4" class="table-responsive">
    <table class="table table-bordered col-md-12" id="tblCheckLst">
        <thead>
            <tr class="label-primary">
                <th>م</th>
                <th hidden>منفذ فحص</th>
                <th>منفذ فحص</th>
                <th hidden>محطة فحص</th>
                <th>منفذ جشني</th>
                <th hidden>منفذ جشني</th>

                <th hidden>محطة جشني</th>

                <th>@PlantQuar.WEB.Language.Resource_data1.RequestNumber</th>
                <th>بيانات الطلب</th>

                <th>الحالة</th>
                <th style="width:9%">العرض</th>

            </tr>
        </thead>
        <tbody>
            @if (model != null)
            {

                var i = 1;
                foreach (var item in model.OrderByDescending(x => x.Ex_CheckRequest_ID))
                {
                    <tr>
                        <td>@i</td>
                        <td hidden>@item.Outlet_Examination_ID</td>
                        <td hidden>@item.Station_Examination_ID</td>
                        <td hidden>@item.Outlet_Genshi_ID</td>
                        <td hidden>@item.Station_Genshi_ID</td>
                        <td>
                            @if (item.Outlet_Examination_Name != null)
                            {
                                <span>منفذ :@item.Outlet_Examination_Name</span>
                            }
                            else if (item.Station_Examination_Name != null)
                            {
                                <span>محطة :@item.Station_Examination_Name</span>
                            }
                        </td>
                        <td>
                            @if (item.Outlet_Genshi_Name != null)
                            {
                                <span>منفذ :@item.Outlet_Genshi_Name</span>
                            }
                            else if (item.Station_Genshi_Name != null)
                            {
                                <span>محطة :@item.Station_Genshi_Name</span>
                            }
                        </td>
                        <td>
                            <a href='/Export_CheckRequest/EX_CheckRequestDetails/Index?ImCheckRequest_Number=@item.ImCheckRequest_Number&Station_Examination_ID=@item.Station_Examination_ID&Outlet_Examination_ID=@item.Outlet_Examination_ID'>@item.ImCheckRequest_Number</a>

                        </td>
                        <td style="width:150px;">
                            <span>نوع الجهة:   @item.ImporterTypeName</span><br />
                            <span>اسم الجهة :   @item.ImporterName</span><br />
                            <span>الدولة  :   @item.ExportCountryName</span><br />
                            <span>@*التاريخ :   @item.Creation_Date.ToString("dd/MM/yyyy")*@</span>
                            <span>التاريخ :   @item.Creation_Date.Value.ToString("dd/MM/yyyy")</span>
                        </td>
                        @if (item.IsAccepted == true && @item.IsPaid == null)
                        {
                            <td>تمت الموافقة على الطلب ولم يتم الدفع</td>
                        }
                        else if (item.IsAccepted == false)
                        {
                            <td>تم رفض الطلب</td>
                        }
                        else if (@item.IsPaid == true && @item.Closed_Request == 0)
                        {
                            <td>
                                <span>تم الدفع</span>


                                <br />
                                @if (@item.Final_Result_Name != null || @item.Final_Result_Name == "")
                                {
                                    <span>@item.Final_Result_Name</span>
                                }
                                else
                                {
                                    <span>لم يتم اتخاذ موقف</span>
                                }
                            </td>
                        }
                        else if (@item.IsPaid == true && @item.Closed_Request == 0 && item.Final_Result_ID == 0)
                        {
                            <td>
                                <span>تم الدفع</span>

                                <br />
                                @if (@item.Final_Result_Name != null)
                                {
                                    <span>@item.Final_Result_Name</span>
                                }
                                else
                                {
                                    <span>لم يتم اتخاذ موقف</span>
                                }
                            </td>
                        }
                        else if (item.IsAccepted == null && @item.IsPaid == null && @item.Closed_Request == 0 && item.Final_Result_ID == 0)
                        {
                            <td>
                                <span>لم يتم الدفع </span>
                                <br />
                                <br />
                                @if (@item.Final_Result_Name != null)
                                {
                                    <span>لم يتم اتخاذ اجراء</span>
                                }
                                else
                                {
                                    <span>لم يتم اتخاذ موقف</span>
                                }
                                <br />

                            </td>
                        }
                        else if (@item.IsPaid == true && @item.Closed_Request > 0 && item.Final_Result_ID > 0)
                        {
                            <td>
                                @if (item.Final_Result_ID != 11)
                                {


                                    <span>تم الدفع</span>


                                } <br />
                                @if (@item.Final_Result_Name != null)
                                {
                                    <span>@item.Final_Result_Name</span>
                                }
                                else
                                {
                                    <span>لم يتم اتخاذ موقف</span>
                                }
                            </td>
                        }

                        else if (item.IsPaid == false)
                        {
                            <td>
                                <span>لم يتم الدفع </span><br />
                            </td>
                        }

                        else
                        {
                            <td style='color: red;font-weight: 700;'>لم يتم اتخاذ اجراء</td>
                        }

                    <td>
                        <div class="coll2">
                            <a href='/Export_CheckRequest_New/EX_Committee_Final_Result/Index?requestId=@item.Ex_CheckRequest_ID&Outlet_ID=@item.Outlet_ID'>عرض النتائج</a>
                        </div>
                        <div class="coll">
                            <a href='/Committees/Ex_FeesTotalResult/IndexNew?Ex_CheckRequest_ID=@item.Ex_CheckRequest_ID'>الرسوم</a>
                        </div>
                        <div class="coll">
                            @Html.ActionLink("طباعة الباركود ", "Print_Barcode", "EX_Committee_Final_Result", new { area = "Export_CheckRequest_New", Ex_CheckRequest_ID = item.Ex_CheckRequest_ID }, null)
                        </div>
                        <div class="coll">
                            <a href='/Export_CheckRequest/EX_CheckRequestCertificate/Index?ExCheckRequest_Number=@item.ImCheckRequest_Number'>بيان طلب الفحص</a>
                            </div>
                    </td>

                    </tr>

                    i++;

                }
            }
        </tbody>
    </table>
</div>
<div class="row justify-content-center">
    @Html.BootstrapPageLinks((int)ViewBag.CurrentPage, (int)ViewBag.TotalPages, ViewBag.Search as string ?? "")
</div>

@*<div class="row justify-content-center">
        @PagingHelpers.BootstrapPageLinks(ViewBag.CurrentPage, ViewBag.TotalPages, ViewBag.TotalResults, ViewBag.Search)
    </div>*@




  @*      $('select').change(function () {


            if ($('#selectApprove').val() != 'choose') {
                if (this.value == '1') {

                    $("#checkRequest_lst4").show();
                    $("#checkRequest_lst1").hide();
                    $("#checkRequest_lst2").hide();
                    $("#checkRequest_lst3").hide();
                    $('#tblCheckLst').DataTable();
                }
                else if (this.value == '2') {

                    $("#checkRequest_lst4").hide();
                    $("#checkRequest_lst1").show();
                    $("#checkRequest_lst2").hide();
                    $("#checkRequest_lst3").hide();
                    $('#tblCheckLst1').DataTable();
                }
                else if (this.value == '3') {
                    $("#checkRequest_lst4").hide();
                    $("#checkRequest_lst1").hide();
                    $("#checkRequest_lst2").show();
                    $("#checkRequest_lst3").hide();
                    $('#tblCheckLst2').DataTable();
                }
                else if (this.value == '4') {
                    $("#checkRequest_lst4").hide();
                    $("#checkRequest_lst1").hide();
                    $("#checkRequest_lst2").hide();
                    $("#checkRequest_lst3").show();
                    $('#tblCheckLst3').DataTable();
                }
            }
            else
            {
                     alertify.error("@PlantQuar.WEB.Language.Resource_data1.ChooseStatusofCommittee");
            }
            });
    </script>
    <script src="~/scripts/jquery.dataTables.min.js"></script>*@
