@model List<PlantQuar.DTO.DTO.Farm.FarmCommittee.FarmCommitteeDeleteDTO>
@{
    //ViewBag.Title = "تعديل لجان المزارع";
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
@section Title{
    <h2 class="ls-top-header">تعديل لجان المزارع</h2>



}

@*<h2></h2>*@
<div id="checkRequest_lst" class="table-responsive">
    <table class="table table-bordered" id="tblFarmCommitteeDeleteLst">
        <thead>
            <tr class="label-primary">
                <th>اختيار</th>
                <th>اسم المزرعة</th>
                <th>كود المزرعة</th>
                <th>كائنات حية و غير حية</th>
                @*<th>@PlantQuar.WEB.Language.Resource_data1.Requests</th>
                    <th>@PlantQuar.WEB.Language.Resource_data1.Print</th>*@
            </tr>
        </thead>
        <tbody id="mytbody_list_Recoust">
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td><input type="checkbox" name="delete_checkbox_name" id="Req_checkbox" onchange="deleted_farmID(this)" value="@item.Farm_Committee_ID" /></td>
                        <td>
                            @Html.DisplayFor(m => item.Farm_Name_Ar)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.Farm_FarmCode_14)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.Item_Name_Ar)
                        </td>
                        @*<td><a href="/FA_Farm/FarmRequest/Index?farmId=@item.FarmID">@PlantQuar.WEB.Language.Resource_data1.Requests</a>&nbsp;<i class="fa fa-link"></i></td>
                            <td><a href="/FA_Farm/farm_Print/Index?Farm_ID=@item.FarmID">@PlantQuar.WEB.Language.Resource_data1.Print</a>&nbsp;<i class="fa fa-print"></i></td>*@
                    </tr>
                }
            }
        </tbody>
    </table>
    <br />

</div>
<input type="button" class=" btn btn-primary btnNext float-left" id="delete_farm" value="حذف">
<script>
    var lst = [];
    function deleted_farmID(element) {
        /*if ($(this).is(':checked'))*/
            var x = $(element).is(':checked');
        if (x == true) {
            lst.push(element.value);
      /*      alert(element.value)*/
        }
        else { lst.pop(element.value); }
    }
/*    console.log(lst);*/

    //$("#delete_farm").click(function () {
    //    console.log(lst);
    //    if (lst.length > 0) {
    //        $.ajax({
    //            url: '/FA_Farm/Farm_Committee_Delete/DeleteFarm_List',
    //            data: {
    //                deleted_lst: lst,
    //            },
    //            success: function (data) {
    //            }
    //        });
    //        /////////////////////////////
    //    } else { alert('يجب أختيار مزرعة'); }
    //});

    $('#delete_farm').click(function () {
       // alert(lst.length);
        if (lst.length > 0) {

            $.post('/FA_Farm/Farm_Committee_Delete/DeleteFarm_List', { deleted_lst: lst }, function (data, succ) {

                window.location.reload();
                alertify.success('تم حذف اللجنة ')
        });

            //$.ajax({
            //    url: '/FA_Farm/Farm_Committee_Delete/DeleteFarm_List',
            //    data: {
            //        deleted_lst: lst,
            //    },
            //    success: function (data) {
            //    }
            //});
            /////////////////////////////
        } else { alert('يجب أختيار مزرعة'); }
        //var id = $(this).data("id");
        //console.log(id)
        //var fees = $("#i_" + id).val();
        //$.post('/Im_CheckRequests/Im_CheckRequestDetails/saveItemFees', { itemId: id, fees: fees }, function (data, succ) {
        //    alertify.success('تم نعديل الرسوم ')
        //});

    });
    //$('#delete_farm').click(function (e) {

    //    if (lst.length > 0) {
    //        alert(lst.length)
            @*$.ajax({

                url: '@Url.Action("DeleteFarm_List", "Farm_Committee_Delete", new { area = "FA_Farm" })',
                type: 'Post',
                data: { lst: lst },
                /*type: "POST",*/
                //url: "/Committees/Committee_Farm/IndexFarm?farmCommitteeId=543&reqId=837,910004,910008,910010,910011",
                //data: JSON.stringify(list_Recoust),


                //contentType: "application/json; charset=utf-8",
                //dataType: "json",
                //traditional: true,
                success: function (message) {
                    //window.location.href = '/Committees/Committee_Farm/Index';

                }
            });*@




</script>

