


@{
    ViewBag.Title = "@PlantQuar.WEB.Language.Resource_data1.Station";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
    var _contacts = new List<PlantQuar.DTO.DTO.Station.StationContactDTO>();
    PlantQuar.WEB.App_Start.User_Session Current = PlantQuar.WEB.App_Start.User_Session.GetInstance;
    var Language_IsAr = HttpContext.Current.Session["Language"].ToString();
}
@section Title{
    <h2 class="ls-top-header"> بيانات المحطة</h2>
}

<br />
<link href="~/assets/css/datepicker.css" rel="stylesheet" />
@section filter{
    <div class="row">
        <label class="col-lg-2 col-md-12 col-sm-12">@PlantQuar.WEB.Language.Resource_data1.ArabicName</label>
        <input type="text" class="form-inline col-lg-3 col-md-12 col-sm-12" autocomplete="off" name="txt_AR_BTNSearch" id="txt_AR_BTNSearch" />&nbsp;
        <label class="col-lg-2 col-md-12 col-sm-12">@PlantQuar.WEB.Language.Resource_data1.EnglishName</label>
        <input type="text" class="form-inline col-lg-3 col-md-12 col-sm-12" autocomplete="off" name="txt_EN_BTNSearch" id="txt_EN_BTNSearch" onkeypress="return (event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122) || (event.charCode >= 48 && event.charCode <= 57)" />
        <input type="button" class="col-lg-1 col-md-2 btn btn-primary" id="LoadRecordsButton" value="@PlantQuar.WEB.Language.Resource_data1.Search">
        <input type="hidden" id="strtActivityDate">
        <input type="hidden" id="endActivityDate">
    </div>

}

@section Path{
    <li>@PlantQuar.WEB.Language.Resource_data1.Station</li>
    <li class="active">@PlantQuar.WEB.Language.Resource_data1.Station</li>
}

<style>
    #jtable-create-form, #jtable-edit-form {
        width: 668px !important;
        height: auto;
        overflow: overlay !important;
    }
    /******************************parent style****************************/
    .ParentStation .jtable-input-field-container:nth-of-type(1),
    .ParentStation .jtable-input-field-container:nth-of-type(2),
    .ParentStation .jtable-input-field-container:nth-of-type(3),
    .ParentStation .jtable-input-field-container:nth-of-type(4),
    .ParentStation .jtable-input-field-container:nth-of-type(5),
    .ParentStation .jtable-input-field-container:nth-of-type(6),
    .ParentStation .jtable-input-field-container:nth-of-type(9),
    .ParentStation .jtable-input-field-container:nth-of-type(10),
    .ParentStation .jtable-input-field-container:nth-of-type(11) {
        margin-bottom: 2px;
        float: right;
        width: 33% !important;
    }

    .ParentStation .jtable-input-field-container:nth-of-type(7),
    .ParentStation .jtable-input-field-container:nth-of-type(8) {
        margin-bottom: 2px;
        float: right;
        width: 48% !important;
    }

    .ParentStation .jtable-input-field-container:nth-of-type(12),
    .ParentStation .jtable-input-field-container:nth-of-type(13) {
        margin-bottom: 2px;
        float: right;
        width: 48% !important;
    }

    .ParentStation .jtable-input-field-container:nth-of-type(14) {
        margin-bottom: 2px;
        float: right;
        width: 98% !important;
        background-color: #87e887;
    }

    .ParentStation .jtable-input-field-container:nth-of-type(7) .jtable-textarea-input textarea,
    .ParentStation .jtable-input-field-container:nth-of-type(8) .jtable-textarea-input textarea {
        width: 96% !important;
    }

    /******************************child activity style****************************/
    .ChildActivity .jtable-input-field-container:nth-of-type(2), .ChildActivity .jtable-input-field-container:nth-of-type(3),
    .ChildActivity .jtable-input-field-container:nth-of-type(4), .ChildActivity .jtable-input-field-container:nth-of-type(5) {
        margin-bottom: 2px;
        float: right;
        width: 33% !important;
    }

    .ChildActivity .jtable-input-field-container:nth-of-type(6) {
        margin-bottom: 2px;
        border-bottom: 0px solid #ddd;
        width: 65% !important;
    }

    .ChildActivity .jtable-input-field-container:nth-of-type(1), .ChildActivity .jtable-input-field-container:nth-of-type(7) {
        margin-bottom: 2px;
        float: right;
        width: 98% !important;
        background-color: #87e887;
    }

    .ChildActivity .jtable-input-field-container:nth-of-type(8), .ChildActivity .jtable-input-field-container:nth-of-type(9) {
        margin-bottom: 2px;
        float: right;
        width: 98% !important;
    }
    /******************************child accreditation style****************************/
    .ChildAccredition {
        height: 240px !important;
        width: 668px;
    }

        .ChildAccredition .jtable-input-field-container:nth-of-type(1), .ChildAccredition .jtable-input-field-container:nth-of-type(2),
        .ChildAccredition .jtable-input-field-container:nth-of-type(3), .ChildAccredition .jtable-input-field-container:nth-of-type(4),
        .ChildAccredition .jtable-input-field-container:nth-of-type(5), .ChildAccredition .jtable-input-field-container:nth-of-type(6),
        .ChildAccredition .jtable-input-field-container:nth-of-type(8), .ChildAccredition .jtable-input-field-container:nth-of-type(9) {
            margin-bottom: 2px;
            float: right;
            width: 33% !important;
        }

        .ChildAccredition .jtable-input-field-container:nth-of-type(7) {
            margin-bottom: 2px;
            float: right;
            width: 98% !important;
        }

    /***************************************ChildPlantProduct****************************************/
    .ChildPlantProduct {
        width: 210px !important;
        height: 150px !important;
    }

        .ChildPlantProduct .jtable-input-field-container:nth-of-type(1), .ChildPlantProduct .jtable-input-field-container:nth-of-type(2) {
            margin-bottom: 2px;
            float: right;
            width: 48% !important;
        }

        .ChildPlantProduct .jtable-input-field-container:nth-of-type(3) {
            margin-bottom: 2px;
            float: right;
            width: 98% !important;
        }
    /************************/
    .zoom {
        margin-right: 10px;
        transition: transform .2s;
        width: 30px;
        height: 30px;
    }

        .zoom:hover {
            -ms-transform: scale(5); /* IE 9 */
            -WEBkit-transform: scale(5); /* Safari 3-8 */
            transform: scale(5);
        }

    #Edit-AddCompanyBtn {
        width: auto;
    }
    /*td{
        word-wrap:break-word;
    }*/
    .bigdata {
        margin-left: 5px;
        margin-right: 5px;
    }
</style>
<div id="Station_List">
</div>



@section scripts{
    <script type="text/javascript">
        var counter = 0;
        var counter_company = 0;
        var Get_dir = (@Language_IsAr==1) ? 'rtl' : 'ltr';

        $(function () {

            $("#txt_AR_BTNSearch").keypress(function (e) {

                var unicode = e.charCode ? e.charCode : e.keyCode
                if (unicode != 8) { //if the key isn't the backspace key (which we should allow)
                    if (unicode == 32)
                        return true;
                    else {
                        if ((unicode < 48 || unicode > 57) && (unicode < 0x0600 || unicode > 0x06FF)) //if not a number or arabic
                            return false; //disable key press
                    }
                }
            });
            $('#Station_List').jtable({

                title: '@PlantQuar.WEB.Language.Resource_data1.StationAdd',
                paging: true,
                pageSize: 10,
                sorting: true,
                //defaultSorting: 'CourseName ASC',
                columnResizable: true,
                columnSelectable: true,
                saveUserPreferences: true,
                actions: {
                    listAction: '/ST_Station/StationsALL/listStation',
                    createAction: '/ST_Station/StationsALL/CreateStation',
                    updateAction: '/ST_Station/StationsALL/UpdateStation',
                    deleteAction: '/ST_Station/StationsALL/DeleteStation',
                    updateAction: function (data) {
                        var deferred = $.Deferred();
                        $("#postiframe").load(function () {
                            iframeContents = $("#postiframe").contents().find("body").text();
                            var result = $.parseJSON(iframeContents);
                            deferred.resolve(result);
                        });
                        var form = $('#jtable-edit-form');
                        form.unbind("submit");
                        form.attr("action", "UpdateStation");
                        form.attr("method", "post");
                        form.attr("enctype", "multipart/form-data");
                        form.attr("encoding", "multipart/form-data");
                        form.attr("target", "postiframe");
                        form.submit();
                        return deferred;
                    },

                    createAction: function (data) {
                        var deferred = $.Deferred();
                        // Capture form submit result from the hidden iframe
                        $("#postiframe").load(function () {
                            iframeContents = $("#postiframe").contents().find("body").text();
                            var result = $.parseJSON(iframeContents);
                            deferred.resolve(result);
                        });
                        var form = $('#jtable-create-form');
                        form.unbind("submit");
                        form.attr("action", "CreateStation");
                        form.attr("method", "post");
                        form.attr("enctype", "multipart/form-data");
                        form.attr("encoding", "multipart/form-data");
                        form.attr("target", "postiframe");
                        form.submit();
                        return deferred;
                    }
                },

                fields: {

                    ID: {
                        key: true,
                        create: false,
                        edit: false,
                        list: false
                    },
                    StationCode: {
                        title: '@PlantQuar.WEB.Language.Resource_data1.stationCode',
                        inputClass: 'validate[required]',
                        width: '9.32771%',
                    },
                    Ar_Name: {
                        title: '@PlantQuar.WEB.Language.Resource_data1.ArabicName',
                        inputClass: 'validate[required]',
                        width: '11.3181%',
                    },
                    En_Name: {
                        title: '@PlantQuar.WEB.Language.Resource_data1.EnglishName',
                        inputClass: 'validate[required]',
                        width: '12.9952%',
                    },
                    Gov_Id: {
                        title: '@PlantQuar.WEB.Language.Resource_data1.Governate',
                        options: '../../CommonActions/GovToVillage/GetGovOptions',
                        list: false,
                    },
                    Center_Id: {
                        title: '@PlantQuar.WEB.Language.Resource_data1.Center',
                        dependsOn: 'Gov_Id',
                        options: function (data) {
                            return '../../CommonActions/GovToVillage/GetCenterOptions?Govern_ID=' + data.dependedValues.Gov_Id;
                        },
                        list: false,
                    },
                    Village_Id: {
                        title: '@PlantQuar.WEB.Language.Resource_data1.Village',
                        list: false,
                        dependsOn: 'Center_Id',
                        options: function (data) {
                            return '../../CommonActions/GovToVillage/GetVillageOptions?Center_ID=' + data.dependedValues.Center_Id;

                        },
                    },
                    Address_Ar: {
                        type: 'textarea',
                        title: '@PlantQuar.WEB.Language.Resource_data1.Address_Ar',
                        inputClass: 'validate[required]',
                        list: false
                    },
                    Address_En: {
                        type: 'textarea',
                        title: '@PlantQuar.WEB.Language.Resource_data1.Address_En',
                        inputClass: 'validate[required]',
                        list: false
                    },

                    TaxesRecord: {
                        title: '@PlantQuar.WEB.Language.Resource_data1.TaxesRecord',
                        inputClass: 'validate[required]',
                        list: false
                    },
                    CommertialRecord: {
                        title: '@PlantQuar.WEB.Language.Resource_data1.CommertialRecord',
                        inputClass: 'validate[required]',
                        list: false
                    },
                    Industrial_License_Num: {
                        title: '@PlantQuar.WEB.Language.Resource_data1.IndustrialLicenseNumber',
                        inputClass: 'validate[required]',
                        list: false
                    },
                    IsActive: {
                        title: '@PlantQuar.WEB.Language.Resource_data1.Status',
                        type: 'checkbox',
                        values: { 'false': ' @PlantQuar.WEB.Language.Resource_data1.NotActive ', 'true': '@PlantQuar.WEB.Language.Resource_data1.Active ' },
                        defaultValue: 'true',
                        width:'3.48675%'
                    },

                    file: {
                        title: '@PlantQuar.WEB.Language.Resource_data1.Image',
                        input: function (data) {
                            return '<input type ="file" id="Picture1" name="Picture1" class="input-type-file"/><iframe name="postiframe" id="postiframe" style="display: none" />';
                        },
                        display: function (data) {
                            return (data.record.FileUpload != null) ? ' <img src="/' + data.record.FileUpload + '"     width="30" height="30" class="zoom"/>' : "";
                        },
                        width: '5.56386%'
                    },
                    TitleContacts: {
                        input: function () {
                            return '<label >@PlantQuar.WEB.Language.Resource_data1.ContactData</label>';
                        },
                        list: false
                    },

                    AddContactBtn: {
                        input: function () {
                            return '<button type="button" class="btn btn-primary" style="margin-top: 11px;color:  green;background-color: #d5ead3;">@PlantQuar.WEB.Language.Resource_data1.ContactAdd</button>';
                        },
                        list: false
                    },

                    Contacts: {
                        input: function () {
                            return '<div id="dialog-modal" ></div>';
                        },
                        list: false
                    },

                    Activity_List: {
                        title: '@PlantQuar.WEB.Language.Resource_data1.Activity',
                        width: '5%',
                        sorting: false,
                        edit: false,
                        create: false,
                        width: '4.3759%',
                        display: function (ActivityData) {
                            //Create an image that will be used to open child table
                            var $img = $('<img src="/assets/images/Activity.png" title="Add ActivityData"  width="35px"/>');
                            //Open child table when user clicks the image
                            $img.click(function () {

                                $('#Station_List').jtable('openChildTable',
                                $img.closest('tr'), //Parent row
                                {
                                    title: "@PlantQuar.WEB.Language.Resource_data1.ActivityData",
                                    paging: true,
                                    pageSize: 10,
                                    sorting: true,
                                    columnResizable: true,
                                    columnSelectable: true,

                                    actions: {
                                        listAction:'/ST_Station/StationActivty/listStationActivty?Station_ID=' + ActivityData.record.ID,
                                        createAction: '/ST_Station/StationActivty/CreateStationActivty?Station_ID=' + ActivityData.record.ID,
                                        updateAction: '/ST_Station/StationActivty/UpdateStationActivty?Station_ID=' + ActivityData.record.ID,
                                        deleteAction: '/ST_Station/StationActivty/DeleteStationActivty'
                                    },
                                    fields: {
                                        ID: {
                                            key: true,
                                            create: false,
                                            edit: false,
                                            list: false
                                        },
                                        TitleStation: {
                                            input: function () {
                                                return '<label >@PlantQuar.WEB.Language.Resource_data1.ActivityData</label>';
                                            },

                                            list: false
                                        },
                                        StationActivityType_ID: {
                                            title: '@PlantQuar.WEB.Language.Resource_data1.StationActivity',
                                            // list:false,
                                            options:function (data) {

                                                if (data.source == 'list') {
                                                    return '/ST_Station/StationActivityType/StationActivityType_List';
                                                }
                                                    // ADD OR EDIT
                                                else {
                                                    return '/ST_Station/StationActivityType/StationActivityType_AddEDIT';
                                                }
                                            },
                                            inputClass: 'validate[required]'
                                        },
                                        Enrollment_Start: {
                                            title: '@PlantQuar.WEB.Language.Resource_data1.DateStart',
                                            type: 'date',
                                            inputClass: 'validate[required]'
                                        },
                                        Enrollment_End: {
                                            title: '@PlantQuar.WEB.Language.Resource_data1.DateEnd',
                                            type: 'date',
                                            inputClass: 'validate[required]'
                                        },

                                        CountryID: {
                                            title: '@PlantQuar.WEB.Language.Resource_data1.Country',
                                            list: false,
                                            inputClass: 'validate[required]',
                                            //type: "multiselectddl",

                                            options:function (data) {

                                                if (data.source == 'list') {
                                                    return '../../CommonActions/Country_Union/Country_List';
                                                }
                                                    // ADD OR EDIT
                                                else {
                                                    return '../../CommonActions/Country_Union/Country_AddEDIT';
                                                }
                                            },

                                        },
                                        IsActive: {
                                            title: '@PlantQuar.WEB.Language.Resource_data1.Status',
                                            type: 'checkbox',
                                            values: { 'false': ' @PlantQuar.WEB.Language.Resource_data1.NotActive ', 'true': '@PlantQuar.WEB.Language.Resource_data1.Active ' },
                                            defaultValue: 'true',

                                        },
                                        TitleCompany: {
                                            input: function () {
                                                return '<label >@PlantQuar.WEB.Language.Resource_data1.CompanyData</label>';
                                            },
                                            list: false
                                        },
                                        AddCompanyBtn: {
                                            input: function () {
                                                return '<button type="button" class="btn btn-primary" style="margin-top: 11px;color:  green;background-color: #d5ead3;">@PlantQuar.WEB.Language.Resource_data1.ComapnyContactAdd</button > ';
                                            },
                                            list: false
                                        },
                                        Companies_div: {
                                            input: function () {
                                                return '<div id="dialog-company" ></div>';
                                            },
                                            list: false
                                        },
                                    },
                                    formCreated: function (event, data) {
                                        var f = 1;
                                        //  alert(JSON.stringify( @DateTime.Now.ToString("{yyyy-MM-dd}")))
                                        $('#jtable-create-form').addClass('ChildActivity');
                                        $('#jtable-edit-form').addClass('ChildActivity');
                                        //   $('.date').datepicker();
                                        // make country multiple choices
                                        ////debugger;
                                        $("#Edit-CountryID").attr("multiple", "multiple");
                                        $("#Edit-CountryID").chosen({
                                            // disable_search_threshold: 10,
                                            no_results_text: "@PlantQuar.WEB.Language.Resource_data1.NoResults : ",
                                            placeholder_text_multiple: "@PlantQuar.WEB.Language.Resource_data1.Select_One_More",
                                            //placeholder_text_single: "حدد المحافظة",
                                            width: "95%",
                                            rtl: true,
                                            search_contains: true,
                                            enable_split_word_search: false,
                                        });

                                        //get company options
                                        var DDL="";
                                        $.ajax({
                                            url: "../../CommonActions/CompanyData/Company_National_AddEDIT",
                                            type: "POST",
                                            success: function (data) {

                                                $.each(data.Options, function (index, item) {

                                                    // alert(JSON.stringify(data))
                                                    DDL += "<option value='"+item.Value+"'>"+item.DisplayText+"</option>";
                                                });

                                            }});//ajax

                                        //when click to add new station company data
                                        $("#Edit-AddCompanyBtn").click(function (index, item) {

                                            var div = "<div class='Company" + counter_company + "' dir=" + Get_dir +">";
                                            var deletecheck="<div id='Company"+counter_company+"'>";
                                            var dropdown=" @PlantQuar.WEB.Language.Resource_data1.Company : <select class='validate[required]' style='width:100px !important;' id='Company"+counter_company+"' name='Company["+counter_company+"].Company_ID' >"+DDL+ "</select>";
                                            var startdate=" @PlantQuar.WEB.Language.Resource_data1.DateStart : <input class='validate[required]' style='width:110px !important;'   type='text'  id='Company" + counter_company + "Start_Date' name='Company[" + counter_company + "].Start_Date' />";
                                            var enddate=" @PlantQuar.WEB.Language.Resource_data1.DateEnd : <input class='validate[required]' style='width:110px !important;' type='text'  id='Company" + counter_company + "End_Date'  name='Company[" + counter_company + "].End_Date' />";
                                            var btn = "<button type='button' class='btn btn-primary' onclick='RemoveCompany(" + counter_company +");' style='margin-right: 5px;color:  green;background-color: #ea6464; '>@PlantQuar.WEB.Language.Resource_data1.Delete</button><br/><br/>";
                                            // var startdate="<div class='jtable-input-field-container'><div class='jtable-input-label'>تاريخ البداية</div><div class='jtable-input jtable-date-input'><input class='hasDatepicker' id='Edit-art' type='text' name='Enrollment_Start'></div></div>";
                                            //   var qq=$('#Edit-Enrollment_Start').clone();
                                            //
                                            $("#dialog-company").append(div+dropdown+startdate+enddate+btn+deletecheck+"</div>");
                                            $("#Company" + counter_company+" option[value='null']").attr('value', '');
                                            $("#Company" + counter_company + "Start_Date").datepicker({ dateFormat: 'yy-mm-dd' });
                                            $('#Company' + counter_company + 'End_Date').datepicker({ dateFormat: 'yy-mm-dd' });


                                            //$( '#Company' + counter_company + 'Start_Date' ).datepicker("option" , "dateFormat", "yy-mm-dd");
                                            // $( '#Company' + counter_company + 'End_Date' ).datepicker("option" , "dateFormat", "yy-mm-dd");

                                            counter_company++;
                                        });
                                        //to get company data which be record before
                                        if (data.formType == "edit"){

                                            //get CompanyList but i draw it dynamic so must draw it then fill values from ajax
                                            var StationActivityID = $("#Edit-ID").val();
                                            $.ajax({
                                                url: "/ST_Station/StationActivty/GetCompanyListByStationActivityID?StationActivityID=" + StationActivityID,
                                                type: "GET",
                                                success: function (data) {
                                                    $.each(data, function (index, item) {
                                                        ////debugger;
                                                        //  alert(JSON.stringify(item));
                                                        var ID= parseInt(item.ID);
                                                        var Company_ID= parseInt(item.Company_ID);
                                                        var div = "<div class='Company" + index + "' dir=" + Get_dir +">";
                                                        var id_StationCompany="<input type='hidden' name='Company["+index+"].ID' value='"+ID+"' />";
                                                        var deletecheck="<div id='Company"+index+"'></div>";
                                                        var dropdown ="@PlantQuar.WEB.Language.Resource_data1.Company : <select class='validate[required] bigdata' style='width:100px !important;' id='Company"+index+"' name='Company["+index+"].Company_ID' >"+DDL+"</select>";
                                                        var startdate="@PlantQuar.WEB.Language.Resource_data1.DateStart : <input class='validate[required]' style='width:110px !important;' type='text'   value='"+item._Start_Date+"' id='Company" + index + "Start_Date' name='Company[" + index + "].Start_Date' />";
                                                        var enddate="@PlantQuar.WEB.Language.Resource_data1.DateEnd : <input class='validate[required]' style='width:110px !important;' type='text'  value='"+item._End_Date+"' id='Company" + index + "End_Date' name='Company[" + index + "].End_Date' />";
                                                        var btn = "<button type='button' class='btn btn-primary' onclick='RemoveCompany(" + index +");' style='margin-right: 5px;color:  green;background-color: #ea6464;'>@PlantQuar.WEB.Language.Resource_data1.Delete</button><br/><br/>";
                                                        $("#dialog-company").append(div+id_StationCompany+dropdown+startdate+enddate+btn+deletecheck+"</div>");
                                                        $("#Company"+index+" option[value="+item.Company_ID+"]").prop('selected', 'selected');
                                                        $("#Company" + index+" option[value='null']").attr('value', '');
                                                        $('#Company' + index + 'Start_Date').datepicker();
                                                        $('#Company' + index + 'End_Date').datepicker();
                                                        // $( '#Company' + index + 'Start_Date' ).datepicker("option" , "dateFormat", "yy-mm-dd");
                                                        // $( '#Company' + index + 'End_Date' ).datepicker("option" , "dateFormat", "dd-MM-yy");
                                                    });

                                                    counter_company=data.length;
                                                }});
                                        }


                                        if (data.formType == "create") {
                                            $(".ui-dialog-title").text("@PlantQuar.WEB.Language.Resource_data1.AddActivityData");
                                        }
                                        else {
                                            $(".ui-dialog-title").text("@PlantQuar.WEB.Language.Resource_data1.EditeActivityData");
                                        }
                                        var options_selected = $('#Edit-CountryID').val();
                                        var optionValues = [];
                                        $('#Edit-CountryID option:not(:selected)').each(function () {
                                            if ($.inArray(this.value, optionValues) > -1) {

                                                $(this).remove()

                                            }
                                            else {
                                                optionValues.push(this.value);
                                            }
                                            var found = jQuery.inArray(this.value, options_selected);
                                            if (found != -1) {
                                                $(this).remove()
                                            }
                                        });



                                        $("#Edit-CountryID").trigger('chosen:updated');

                                    }, //created
                                    formSubmitting: function (event, data) {
                                        var Encstart = $("#Edit-Enrollment_Start").val();
                                        var Encend = $("#Edit-Enrollment_End").val();
                                        if (Encstart > Encend) {
                                            alert(" @PlantQuar.WEB.Language.Resource_data1.TheEndDateThanStartDate");
                                            return false;
                                        }
                                        return data.form.validationEngine('validate');
                                    },
                                    formClosed: function (event, data) {
                                        data.form.validationEngine('hide');
                                        data.form.validationEngine('detach');
                                        counter_company=0;
                                        //  $(".ui-dialog-title").text("حذف بيانات نبات المزرعة");
                                    },
                                    recordAdded: function (event, data) {
                                        //Mah+Ag 17-4-2019 change display message
                                        alertify.success("@PlantQuar.WEB.Language.Resource_data1.Save_Insert");
                                        location.reload(true)
                                    },
                                    recordUpdated: function (event, data) {
                                        //Mah+Ag 17-4-2019 change display message
                                        alertify.success("@PlantQuar.WEB.Language.Resource_data1.Save_Update");
                                    },

                                }, function (data) { //opened handler
                                    data.childTable.jtable('load');
                                });
                            });// close it
                            //Return image to show on the person row
                            return $img;
                        }//
                    },


                    Accr_List: {
                        title: '@PlantQuar.WEB.Language.Resource_data1.Accreditation',
                        width: '5%',
                        paging: true,
                        pageSize: 10,
                        sorting: false,
                        edit: false,
                        create: false,
                        width: '5.6747%',
                        display: function (AccrData) {
                            //Create an image that will be used to open child table
                            var $img = $('<img src="/assets/images/accr_image.png" title="Add AccreditionData"  width="35px"/>');
                            //Open child table when user clicks the image
                            $img.click(function () {

                                $('#Station_List').jtable('openChildTable',
                                $img.closest('tr'), //Parent row
                                {
                                    title: "@PlantQuar.WEB.Language.Resource_data1.AccreditationData",
                                    sorting: true,
                                    columnResizable: true,
                                    columnSelectable: true,

                                    actions: {
                                        listAction:'/CO_Company/StationAccreditation/listStationAccreditation?Station_ID=' + AccrData.record.ID,
                                        createAction: '/CO_Company/StationAccreditation/CreateStationAccreditation?Station_ID=' + AccrData.record.ID,
                                        updateAction: '/CO_Company/StationAccreditation/UpdateStationAccreditation?Station_ID=' + AccrData.record.ID,
                                        deleteAction: '/CO_Company/StationAccreditation/DeleteStationAccreditation'
                                    },

                                    fields: {
                                        ID: {
                                            key: true,
                                            create: false,
                                            edit: false,
                                            list: false
                                        },
                                        StationActivityID: {
                                            title: '@PlantQuar.WEB.Language.Resource_data1.StationActivity',
                                            options: function (data) {
                                                if (data.source == 'list') {
                                                    return '/ST_Station/StationActivty/GetStationAllActivity?Station_ID=' + AccrData.record.ID;
                                                } else {
                                                    ////debugger;

                                                    return '/ST_Station/StationActivty/GetStationActivityWithTypeName?Station_ID=' + AccrData.record.ID;
                                                }
                                                // return '/StationActivty/GetStationActivityWithTypeName?Station_ID=' + AccrData.record.ID;

                                            },
                                            inputClass:'validate[required]'
                                        },
                                        IsPlant: {
                                            title: '@PlantQuar.WEB.Language.Resource_data1.plantProduct',
                                            list: false,
                                            options: function(data){
                                                return '../../CommonActions/CompanyData/A_SystemCode_AddEDIT?Syscodenum=2'
                                                //$('#bridge input[name="bridge"]
                                                // return '/StationAccredition/GetProductOrPlantOptions?bridge='+data.dependedValues.bridge;
                                            },
                                            inputClass:'validate[required]'
                                        },
                                        ProdPlant_ID: {
                                            title: '@PlantQuar.WEB.Language.Resource_data1.Select',
                                            list: false,
                                            dependsOn: 'IsPlant',
                                            options:function(data){
                                                return '/CO_Company/StationAccreditation/GetProdPlantOptions?IsPlant='+data.dependedValues.IsPlant
                                                //$('#bridge input[name="bridge"]
                                                // return '/StationAccredition/GetProductOrPlantOptions?bridge='+data.dependedValues.bridge;
                                            },
                                            inputClass:'validate[required]'
                                        },
                                        /*    Plant_ID: {
                                                title: 'النبات',

                                                list: false,

                                                options:function(data){
                                                    return '/PlantParts/Plant_AddEDIT'
                                                    //$('#bridge input[name="bridge"]
                                                    // return '/StationAccredition/GetProductOrPlantOptions?bridge='+data.dependedValues.bridge;
                                                },
                                                list:false
                                            },*/
                                        CountryID: {
                                            title: '@PlantQuar.WEB.Language.Resource_data1.Country',
                                            list: false,
                                            inputClass: 'validate[required]',

                                            options:function (data) {

                                                if (data.source == 'list') {
                                                    return '../../CommonActions/Country_Union/Country_List';
                                                }
                                                    // ADD OR EDIT
                                                else {
                                                    return '../../CommonActions/Country_Union/Country_AddEDIT';
                                                }
                                            },

                                        },
                                        //Span: {
                                        //    title: '',
                                        //    input: function () { return '<label class="validate[required]" style="display:block"></label>' },
                                        //    list: false
                                        //},
                                        StartDate: {
                                            title: '@PlantQuar.WEB.Language.Resource_data1.DateStart',
                                            type: 'date',
                                            inputClass:'validate[required ]'

                                        },
                                        EndDate: {
                                            title: '@PlantQuar.WEB.Language.Resource_data1.DateEnd',
                                            type: 'date',
                                            inputClass:'validate[required]'

                                        },
                                        IsActive: {
                                            title: '@PlantQuar.WEB.Language.Resource_data1.Status',
                                            type: 'checkbox',
                                            values: { 'false': ' @PlantQuar.WEB.Language.Resource_data1.NotActive ', 'true': '@PlantQuar.WEB.Language.Resource_data1.Active ' },
                                            defaultValue: 'true',

                                        },
                                        TreatmentMain_Id: {
                                            title: '@PlantQuar.WEB.Language.Resource_data1.MainTreatment',
                                            list: false,
                                            options:function(data){
                                                return '/ST_Station/StationsALL/TreatmentMainType_AddEDIT'
                                            },
                                            inputClass:'validate[required]'
                                        },
                                        Treatment_Id: {
                                            title: '@PlantQuar.WEB.Language.Resource_data1.TreatmentType',
                                            dependsOn: 'TreatmentMain_Id',
                                            list: false,
                                            options:function(data){
                                                return '/ST_Station/StationsALL/TreatmentTypeByTreatmentMain_Id?TreatmentMain_Id='+data.dependedValues.TreatmentMain_Id
                                            },
                                            inputClass:'validate[required]'
                                        },
                                        TreatmentCheck: {
                                            list: false,
                                            type:'hidden'
                                        },


                                    },
                                    formCreated: function (event, data) {
                                        //  $('.ChildAccredition .jtable-input-field-container:nth-of-type(5)').css('margin-right','-227px !important');
                                        // $('#Edit-Span').css('margin-right','-227px');
                                        $('#jtable-create-form').addClass('ChildAccredition');
                                        $('#jtable-edit-form').addClass('ChildAccredition');
                                        //add class to Treatment_Id to hidden or show it according to ActivityType
                                        $('.jtable-input-field-container:nth-of-type(8)').addClass('TreatmentMain');
                                        $('.jtable-input-field-container:nth-of-type(9)').addClass('Treatment');
                                        if($('#Edit-TreatmentCheck').val()==0)
                                        {
                                            $('.TreatmentMain').hide();
                                            $('.Treatment').hide();
                                            $('#Edit-TreatmentMain_Id').removeClass('validate[required]');
                                            $('#Edit-Treatment_Id').removeClass('validate[required]');
                                            $("#Edit-TreatmentMain_Id option[value='']").attr('selected','selected');
                                            $("#Edit-Treatment_Id option[value='']").attr('selected','selected');
                                        }
                                        //when dont change act type
                                        var ActID2 = $('#Edit-StationActivityID').val();
                                        $.ajax({
                                            url: "/ST_Station/StationActivty/getActivityDates?StationActivityID=" + ActID2,
                                            type: "GET",
                                            success: function (data2) {
                                                console.log(data2)
                                                $("#strtActivityDate").val(data2[0].startDate);
                                                //debugger;
                                                $("#endActivityDate").val(data2[0].endDate);
                                            }
                                        });
                                        //when change on ActivityType
                                        $("#Edit-StationActivityID").change(function(){
                                            //check if this activity has treatment or not
                                            var ActID=$('#Edit-StationActivityID').val();
                                            $.ajax({
                                                url: "/CO_Company/StationAccreditation/IsTreatment?ActID=" + ActID,
                                                type: "GET",
                                                success: function (check) {
                                                    if(check)
                                                    {
                                                        $('.TreatmentMain').show();
                                                        $('.Treatment').show();
                                                        $('#Edit-TreatmentCheck').val('1');
                                                    }
                                                    else
                                                    {
                                                        $('.TreatmentMain').hide();
                                                        $('.Treatment').hide();
                                                        $('#Edit-TreatmentCheck').val('0');
                                                        $("#Edit-TreatmentMain_Id option[value='']").attr('selected','selected');
                                                        $("#Edit-Treatment_Id option[value='']").attr('selected','selected');
                                                    }
                                                }
                                            });
                                            $.ajax({
                                                url: "/ST_Station/StationActivty/getActivityDates?StationActivityID=" + ActID,
                                                type: "GET",
                                                success: function (data2) {
                                                    console.log(data2)
                                                    $("#strtActivityDate").val(data2[0].startDate);
                                                    //debugger;
                                                    $("#endActivityDate").val(data2[0].endDate);
                                                }
                                            });
                                        });


                                        // make country multiple choices
                                        $("#Edit-CountryID").attr("multiple", "multiple");
                                        $("#Edit-CountryID").chosen({
                                            no_results_text: "@PlantQuar.WEB.Language.Resource_data1.no_results : ",
                                            placeholder_text_multiple: "@PlantQuar.WEB.Language.Resource_data1.Select_One_More",
                                            //placeholder_text_single: "حدد @PlantQuar.WEB.Language.Resource_data1.Governate",
                                            width: "95%",
                                            rtl: true,
                                            search_contains: true,
                                            enable_split_word_search: false
                                        });
                                        $("#Edit-CountryID").trigger('chosen:updated');
                                        $("#Edit-CountryID").trigger("liszt:updated");

                                        // draw treatment dropdownlist if it found
                                        //{

                                        //}
                                        if (data.formType == "create") {
                                            $(".ui-dialog-title").text("@PlantQuar.WEB.Language.Resource_data1.AddAccreditationData");
                                        }
                                        else {
                                            $(".ui-dialog-title").text("@PlantQuar.WEB.Language.Resource_data1.EditeAccreditationData");
                                        }
                                        var options_selected = $('#Edit-CountryID').val();
                                        var optionValues = [];
                                        $('#Edit-CountryID option:not(:selected)').each(function () {
                                            if ($.inArray(this.value, optionValues) > -1) {

                                                $(this).remove()

                                            }
                                            else {
                                                optionValues.push(this.value);
                                            }
                                            var found = jQuery.inArray(this.value, options_selected);
                                            if (found != -1) {
                                                $(this).remove()
                                            }
                                        });



                                        $("#Edit-CountryID").trigger('chosen:updated');
                                    },
                                    formSubmitting: function (event, data) {
                                        var actSrtDate = $("#strtActivityDate").val();
                                        //debugger;
                                        actSrtDate = new Date(actSrtDate.match(/\d+/)[0] * 1);
                                        //actSrtDate = actSrtDate.format('dd/mm/yyyy');
                                        var actEndDate = $("#endActivityDate").val();
                                        actEndDate = new Date(actEndDate.match(/\d+/)[0] * 1);
                                        //actEndDate = actEndDate.format('dd/mm/yyyy');
                                        var xx = new Date($("#Edit-StartDate").val());
                                        // xx = xx.format('dd/mm/yyyy');
                                        var yy = new Date($("#Edit-EndDate").val());
                                        // yy = yy.format('dd/mm/yyyy');
                                        actSrtDate.setHours(actSrtDate.getHours() + 2);
                                        actEndDate.setHours(actEndDate.getHours() + 2);
                                        console.log(actSrtDate)
                                        console.log(actEndDate)
                                        console.log(xx)
                                        console.log(yy)
                                     //debugger;
                                        if (yy > xx)
                                        {
                                            if (xx >= actSrtDate && xx <= actEndDate && yy >= actSrtDate && yy <= actEndDate) {
                                                return data.form.validationEngine('validate');
                                            } else {
                                                alert(" @PlantQuar.WEB.Language.Resource_data1.YouMustBeAccreditationDateTheSameActivityDate  ");
                                                return false;
                                            }

                                        } else {
                                            alert(" @PlantQuar.WEB.Language.Resource_data1.TheEndDateThanStartDate");
                                            return false;
                                        }


                                    },
                                    formClosed: function (event, data) {
                                        data.form.validationEngine('hide');
                                        data.form.validationEngine('detach');
                                        // $(".ui-dialog-title").text("حذف بيانات الآعتماد");
                                    },
                                    recordAdded: function (event, data) {
                                        alertify.success("@PlantQuar.WEB.Language.Resource_data1.AccreditationDataAdded");
                                        location.reload(true)
                                    }
                                }

                                , function (data) { //opened handler
                                    data.childTable.jtable('load');
                                });
                            });// close it
                            //Return image to show on the person row
                            return $img;
                        }//
                    },

                    /////////////8-7-2019 Plant-Product
                    PlantProduct_List: {
                        title: '@PlantQuar.WEB.Language.Resource_data1.category',
                        width: '3.25783%',
                        paging: true,
                        pageSize: 10,
                        sorting: false,
                        edit: false,
                        create: false,

                        display: function (PlantProductData) {
                            //debugger;
                            //Create an image that will be used to open child table
                            var $img = $('<img src="/assets/images/FarmPlant.jpg" title="@PlantQuar.WEB.Language.Resource_data1.category"  width="35px"/>');
                            //Open child table when user clicks the image
                            $img.click(function () {
                                $('#Station_List').jtable('openChildTable',
                                $img.closest('tr'), //Parent row
                                {
                                    title: "@PlantQuar.WEB.Language.Resource_data1.category",
                                    sorting: true,
                                    columnResizable: true,
                                    columnSelectable: true,
                                    actions: {
                                        listAction: '/ST_Station/StationsALL/listStationPlantProduct?Station_ID=' + PlantProductData.record.ID,
                                        createAction: '/ST_Station/StationsALL/CreateStationPlantProduct?StationID=' + PlantProductData.record.ID,
                                        updateAction: '/ST_Station/StationsALL/UpdateStationPlantProduct?StationID=' + PlantProductData.record.ID,
                                        deleteAction: '/ST_Station/StationsALL/DeleteStationPlantProduct'
                                    },

                                    fields: {
                                        ID: {
                                            key: true,
                                            create: false,
                                            edit: false,
                                            list: false
                                        },
                                        IsPlant: {
                                            title: '@PlantQuar.WEB.Language.Resource_data1.plantProduct',
                                            list: false,
                                            options: function(data){
                                                return '../../CommonActions/CompanyData/A_SystemCode_AddEDIT?Syscodenum=2'
                                                //$('#bridge input[name="bridge"]
                                                // return '/StationAccredition/GetProductOrPlantOptions?bridge='+data.dependedValues.bridge;
                                            },
                                            inputClass:'validate[required]'
                                        },
                                        ProdPlant_ID: {
                                            title: '@PlantQuar.WEB.Language.Resource_data1.Select',
                                            dependsOn: 'IsPlant',
                                            options:function(data){
                                                return '/CO_Company/StationAccreditation/GetProdPlantOptions?IsPlant='+data.dependedValues.IsPlant
                                            },
                                            inputClass:'validate[required]'
                                        },
                                        IsActive: {
                                            title: '@PlantQuar.WEB.Language.Resource_data1.Status',
                                            type: 'checkbox',
                                            values: { 'false': ' @PlantQuar.WEB.Language.Resource_data1.NotActive ', 'true': '@PlantQuar.WEB.Language.Resource_data1.Active ' },
                                            defaultValue: 'true',
                                        },
                                    },
                                    formCreated: function (event, data) {
                                        $('#jtable-create-form').addClass('ChildPlantProduct');
                                        $('#jtable-edit-form').addClass('ChildPlantProduct');
                                        if (data.formType == "create") {
                                            $(".ui-dialog-title").text("@PlantQuar.WEB.Language.Resource_data1.AddCategoryData");
                                        }
                                        else {
                                            $(".ui-dialog-title").text("@PlantQuar.WEB.Language.Resource_data1.EditeCategoryData");
                                        }
                                    },
                                    formSubmitting: function (event, data) {
                                        return data.form.validationEngine('validate');
                                    },
                                    formClosed: function (event, data) {
                                        data.form.validationEngine('hide');
                                        data.form.validationEngine('detach');
                                    },
                                    recordAdded: function (event, data) {
                                        alertify.success("@PlantQuar.WEB.Language.Resource_data1.CategoryDataAdded");
                                        location.reload(true)
                                    }
                                }
                                , function (data) { //opened handler
                                    data.childTable.jtable('load');
                                });
                            });// close it
                            return $img;
                        }//
                    }
                    ////////////////////////////Plant-Product

                },//Parent feilds
                formCreated: function (event, data) {

                    $('#jtable-create-form').addClass('ParentStation');
                    $('#jtable-edit-form').addClass('ParentStation');

                    //create DDL for contact type
                    //which is dynamic as i call it many times and in each time it's name had be changged
                    var DDLContactType="";
                    var contactTypelst = @Html.Raw(Json.Encode(@ViewBag.ContactTypelst));
                    for(var i = 0; i < contactTypelst.length; i++) {
                        DDLContactType+= "<option value='"+contactTypelst[i].Value+"'>"+contactTypelst[i].DisplayText+"</option>";
                    }
                    DDLContactType+="</select>";

                    if (data.formType == "edit")
                    {
                        //get ContactList but i draw it dynamic so must draw it then fill values from ajax
                        var ss = $("#Edit-ID").val();
                        $.ajax({
                            url: "/ST_Station/StationsALL/GetContactList?StationId=" + ss,
                            type: "GET",
                            success: function (data) {
                                $.each(data, function (index, item) {
                                    var ContactType_ID= parseInt(item.ContactType_ID);
                                    var ID= parseInt(item.ID);
                                    var div="<div class='"+index+"'>";
                                    var id_StationContact="<input type='hidden' name='Contacts["+index+"].ID' value='"+ID+"' >";
                                    var dropdown =" @PlantQuar.WEB.Language.Resource_data1.ContactType : <select class='validate[required] bigdata'style='width:110px!important' id='s"+index+"' name='Contacts["+index+"].ContactType_ID' >"+DDLContactType;

                                    var deletecheck="<div id='"+index+"'>";
                                    var txtbox=" @PlantQuar.WEB.Language.Resource_data1.ContactData : <input type='text' class='validate[required]' id='ty"+index+"' name='Contacts[" + index + "].Value' value='"+item.Value+"'/>";
                                    var btn = "<button type='button' class='btn btn-primary' onclick='Remove(" + index +");' style='margin-right: 5px;color:  green;background-color: #ea6464;'>@PlantQuar.WEB.Language.Resource_data1.Delete</button><br/><br/>";
                                    $("#dialog-modal").append(div+id_StationContact+dropdown+txtbox+btn+deletecheck+"</div>");
                                    $("#s"+index+" option[value="+ContactType_ID+"]").prop('selected', 'selected');
                                    $("#s"+index+" option[value='null']").attr('value', '');


                                });
                                counter=data.length;
                            }});

                    }
                    $("#Edit-AddContactBtn").click(function () {
                        var div = "<div class='" + counter + "' dir=" + Get_dir + ">";
                        var deletecheck="<div id='"+counter+"'>";
                        var dropdown =" @PlantQuar.WEB.Language.Resource_data1.ContactType : <select class='validate[required]'style='width:110px!important' id='s"+counter+"' name='Contacts["+counter+"].ContactType_ID' >"+DDLContactType;
                        var txtbox=" @PlantQuar.WEB.Language.Resource_data1.ContactData : <input type='text' class='validate[required]' name='Contacts[" + counter + "].Value' />";


                        var btn = "<button type='button' class='btn btn-primary' onclick='Remove(" + counter +");' style='margin-right: 5px;color:  green;background-color: #ea6464;'>@PlantQuar.WEB.Language.Resource_data1.Delete</button><br/><br/>";

                        $("#dialog-modal").append(div+dropdown+txtbox+btn+deletecheck+"</div>");
                        $("#s"+counter+" option[value='null']").attr('value', '');
                        counter++;

                    });
                    if (data.formType == "create") {
                        $(".ui-dialog-title").text("@PlantQuar.WEB.Language.Resource_data1.AddStation");
                    }
                    else {
                        $(".ui-dialog-title").text("@PlantQuar.WEB.Language.Resource_data1.EditeStation");
                    }


                    $("#Edit-Ar_Name, #Edit-En_Name, #Edit-Address_Ar, #Edit-Address_En, #Edit-CommertialRecord, #Edit-CommertialRecord,#txt_AR_BTNSearch, #txt_EN_BTNSearch").attr('autocomplete', 'off');

                    // Arabic + spaces + numeric
                    $("#Edit-Ar_Name,#Edit-Address_Ar").keypress(function (e) {

                        var unicode = e.charCode ? e.charCode : e.keyCode
                        if (unicode != 8) { //if the key isn't the backspace key (which we should allow)
                            if (unicode == 32)
                                return true;
                            else {
                                if ((unicode < 48 || unicode > 57) && (unicode < 0x0600 || unicode > 0x06FF)) //if not a number or arabic
                                    return false; //disable key press
                            }
                        }
                    });
                    $("#Edit-En_Name,#Edit-Address_En").keypress(function (e) {

                        var unicode = e.charCode ? e.charCode : e.keyCode
                        if (unicode != 8) { //if the key isn't the backspace key (which we should allow)
                            if (unicode == 32)
                                return true;
                            else {
                                if (!(unicode < 0x0600 || unicode > 0x06FF)) //if not english
                                    return false; //
                            }
                        }
                    });
                    $("#Edit-TaxesRecord,#Edit-CommertialRecord,#Edit-Industrial_License_Num, #mycontactnum").keypress(function (e) {
                        var charCode = e.keyCode;
                        //Non-numeric character range
                        if (charCode > 31 && (charCode < 48 || charCode > 57))
                            return false;
                    });

                },
                formSubmitting: function (event, data) {
                    ;
                    return data.form.validationEngine('validate');

                    @*// @{@Model.Contacts = new List<PlantQuar.DTO.DTO.StationContactDTO>();}*@

                },
                formClosed: function (event, data) {
                    data.form.validationEngine('hide');
                    data.form.validationEngine('detach');
                    counter=0;
                    //  $(".ui-dialog-title").text("حذف محطة");
                },
                recordAdded: function (event, data) {
                    //if (data.record) {
                    //    $('#Station_List').jtable('reload');
                    //}

                    alertify.success("@PlantQuar.WEB.Language.Resource_data1.NewStationAdded");
                    location.reload(true)
                },
            });//jtable parent
            $('#Station_List').jtable('load');


            $('#LoadRecordsButton').click(function (e) {

                e.preventDefault();
                $('#Station_List').jtable('load', {

                    txt_AR_BTNSearch: $('#txt_AR_BTNSearch').val().trim(),
                    txt_EN_BTNSearch: $('#txt_EN_BTNSearch').val().trim()
                });
            });
            $("#txt_AR_BTNSearch").keypress(function (e) {
                var unicode = e.charCode ? e.charCode : e.keyCode
                if (unicode != 8) { //if the key isn't the backspace key (which we should allow)
                    if (unicode == 32) { }// return data.form.validationEngine('validate');
                    else {
                        if (((unicode < 48 || unicode > 57) && unicode != 13) && (unicode < 0x0600 || unicode > 0x06FF)) //if not a number or arabic

                        {
                            return false; //disable key press
                        } else {
                            if (unicode == 13) {
                                $('#LoadRecordsButton').click();
                            }

                        }


                    }
                }
            });
            $("#txt_EN_BTNSearch").keypress(function (e) {

                var unicode = e.charCode ? e.charCode : e.keyCode
                if (unicode != 8) { //if the key isn't the backspace key (which we should allow)
                    if (unicode == 32)
                        return true;
                    else {
                        if (!(unicode < 0x0600 || unicode > 0x06FF)) //if not english
                        {
                            return false; //disable key press
                        } else {
                            if (unicode == 13) {
                                $('#LoadRecordsButton').click();
                            }

                        }
                    }
                }
            });
            $(".jtable-toolbar-item-add-record .jtable-toolbar-item-text").text("@PlantQuar.WEB.Language.Resource_data1.AddStation");
        });
        function Remove(id)
        {
            var idd=id.toString();
            $("#"+idd).append("<input type='hidden' name='Contacts["+id+"].DeleteCheck' value='1'>");
            $("."+idd).attr("hidden","true");

        }
        // RemoveCompany
        function RemoveCompany(id)
        {
            var idd=id.toString();
            //   alert("Company"+idd)
            $("#Company"+idd).append("<input type='hidden' name='Company["+id+"].DeleteCheck' value='1'>");
            $(".Company"+idd).attr("hidden","true");

        }

    </script>
    <script type="text/javascript">


    $("#tableExcell").click(function () {
        var html = "";
        $.getJSON('/AnalysisLab/AllStationsALL', {}, function (data, succ) {
           // console.log(data)
            $.each(data, function (i, item) {

                html += "<tr><td>" + data[i].Name_Ar + "</td><td>" + data[i].Name_En + "</td>"

                html += "</tr>";
            });
            $("#tbl tbody").empty();
            $("#tbl tbody").append(html);
            tableToExcel('all analysis lab', 'Table');
        });


    });

    var tableToExcel = (function () {
        var uri = 'data:application/vnd.ms-excel;base64,'
            , template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--><meta charset="UTF-8"></head><body><table>{table}</table></body></html>'
            , base64 = function (s) { return window.btoa(unescape(encodeURIComponent(s))) }
            , format = function (s, c) { return s.replace(/{(\w+)}/g, function (m, p) { return c[p]; }) }
        return function (table, name) {
            if (!table.nodeType) table = document.getElementById('tbl')
            var ctx = { worksheet: '@PlantQuar.WEB.Language.Resource_data1.AnalysisLab', table: table.innerHTML }
            window.location.href = uri + base64(format(template, ctx))
        }
    })()
    </script>

}
<br />



<br />
<br />
<br />
<div class="row">
    <iframe id="txtArea1"></iframe>
    <input type="button" value="@PlantQuar.WEB.Language.Resource_data1.Export_to_Excel" id="tableExcell">
    <br>
    <br>
    <div class="col-md-12" style="display:none;">
        <br>
        <br>
        <table id="tbl">
            <thead>
                <tr style="background-color:aqua;">
                    <th>Arabic Name</th>
                    <th>English Name</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>

    </div>

</div>

<style>
    #tableExcell {
        float: right;
        height: 37px;
        width: 133px;
        background-color: #1e7c80;
        border: 2px solid #1e8084;
        box-shadow: 0 4px #1d9fa5;
        outline: none;
        color: white;
    }

        #tableExcell:hover {
            background-color: #1a8488;
            border: 1px solid #1a8488;
        }
</style>






















