
@*@{
        ViewBag.Title = "Index";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }


    @section Title{
        <h2 class="ls-top-header">اعتماد المحطات</h2>
    }
    *<br />

    @section filter{
        <div class="row">
            <label class="col-md-2">@PlantQuar.WEB.Language.Resource_data1.ArabicName</label>
            <input type="text" class="form-inline col-md-3" autocomplete="off" name="txt_AR_BTNSearch" id="txt_AR_BTNSearch" />
            <label class="col-md-2">@PlantQuar.WEB.Language.Resource_data1.EnglishName</label>&nbsp;
            <input type="text" class="form-inline col-md-3" autocomplete="off" name="txt_EN_BTNSearch" id="txt_EN_BTNSearch" />&nbsp;
            <input type="button" class="btn btn-primary" id="LoadRecordsButton" value="بحث">
        </div>
    }

    @section Path{
        <li>اعتماد المحطات</li>
        <li class="active">اعتماد المحطات</li>
    }


    <div class="clearfix"></div><br />

    <!--lotjtabe-->
    <div id="lotjtabe"></div>





    <script>
        $(function () {
            $('#lotjtabe').jtable({
                title: 'اعتماد المحطات',
                paging: true,
                pageSize: 10,
                sorting: true,
                //defaultSorting: 'CourseName ASC',
                columnResizable: true,
                columnSelectable: true,
                saveUserPreferences: true,
                actions: {
                    listAction: 'listTBLRows',
                    createAction: 'CreateTBLRows',
                    updateAction: 'UpdateTBLRows',
                    deleteAction: 'DeletelistTBLRows'
                },
                fields: {
                    ID: {
                        key: true,
                        create: false,
                        edit: false,
                        list: false
                    },
                    Name_Ar: {
                        title: 'المحطة',
                        inputClass: 'validate[required]',
                        options: [
                            { Value: '1', DisplayText: 'المحطة1' },
                            { Value: '2', DisplayText: 'المحطة2' },
                            { Value: '3', DisplayText: 'المحطة3' }
                        ]
                    },
                    Name_En: {
                        title: 'النبات أو المنتج',
                        inputClass: 'validate[required]',
                        options: [
                            { Value: '1', DisplayText: 'منتج 1' },
                            { Value: '2', DisplayText: 'منتج 2' },
                            { Value: '3', DisplayText: 'منتج 3' }
                        ]
                    },
                    Address_Ar: {
                        title: 'الدولة',
                        inputClass: 'validate[required]',
                        options: [
                            { Value: '1', DisplayText: 'مصر' },
                            { Value: '2', DisplayText: 'الكويت' },
                            { Value: '3', DisplayText: 'الاماراات' }
                        ]
                    },

                    Address: {
                        title: 'نوع المعالجة',
                        inputClass: 'validate[required]',
                        options: [
                            { Value: '1', DisplayText: 'معالجة 1' },
                            { Value: '2', DisplayText: 'معالجة 2' },
                            { Value: '3', DisplayText: 'معالجة 3' }
                        ]
                    },
                    date1: {
                        title: 'تاريخ البداية ',
                        inputClass: 'validate[required]',
                        type: 'date'
                    },
                    date2: {
                        title: 'تاريخ النهاية ',
                        inputClass: 'validate[required]',
                       type: 'date'
                    },
                    IsActive: {
                        title: 'حالة المنتج',
                        type: 'checkbox',
                        values: { 'false': ' غير فعال ', 'true': 'فعال ' },
                        defaultValue: 'true',
                    },



                },
                formCreated: function (event, data) {

                    if (data.formType == "create") {
                        $(".ui-dialog-title").text("إضافة اعتماد محطة");
                    }
                    else {
                        $(".ui-dialog-title").text("تعديل اعتماد المحطة");
                    }


                    $("#Edit-Ar_Name, #Edit-En_Name, #Edit-Address_Ar, #Edit-Address_En, #Edit-CommertialRecord, #Edit-CommertialRecord,#txt_AR_BTNSearch, #txt_EN_BTNSearch").attr('autocomplete', 'off');

                    // Arabic + spaces + numeric
                    $("#Edit-Ar_Name,#Edit-Address_Ar, #txt_AR_BTNSearch").keypress(function (e) {
                         
                        var unicode = e.charCode ? e.charCode : e.keyCode
                        if (unicode != 8) { //if the key isn't the backspace key (which we should allow)
                            if (unicode == 32)
                                return true;
                            else {
                                if ((unicode < 48 || unicode > 57) && (unicode < 0x0600 || unicode > 0x06FF)) //if not a number or arabic
                                    return false; //disable key press
                            }
                        }
                    });

                },
                formSubmitting: function (event, data) {
                    return data.form.validationEngine('validate');
                },
                formClosed: function (event, data) {
                    data.form.validationEngine('hide');
                    data.form.validationEngine('detach');
                    $(".ui-dialog-title").text("حذف اعتماد المحطة ");
                },
                recordAdded: function (event, data) {
                    //Mah+Ag 17-4-2019 change display message
                    alertify.success("@PlantQuar.WEB.Language.Resource_data1.Save_Insert");
                },
                recordUpdated: function (event, data) {
                                        //Mah+Ag 17-4-2019 change display message
                    alertify.success("@PlantQuar.WEB.Language.Resource_data1.Save_Update");
                },
    recordDeleted: function (event, data) {
                                        //Mah+Ag 17-4-2019 change display message
                    alertify.success("@PlantQuar.WEB.Language.Resource_data1.Save_Delete");
                },
            });
            $('#MyJTBL_List').jtable('load');


            $('#LoadRecordsButton').click(function (e) {

                e.preventDefault();
                $('#MyJTBL_List').jtable('load', {

                    txt_AR_BTNSearch: $('#txt_AR_BTNSearch').val(),
                    txt_EN_BTNSearch: $('#txt_EN_BTNSearch').val()
                });
            });

            $(".jtable-toolbar-item-add-record .jtable-toolbar-item-text").text("إضافة اعتماد المحطة ");
        });
    </script>*@ 
@{
    ViewBag.Title = "StationAccreditation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Title{
    <h2 class="ls-top-header"> إعتماد وتسجيل المحطة</h2>
}

<br />

@section filter{
    <div class="row">
        <label class="col-md-2">الاسم بالعربية</label>
        <input type="text" class="form-inline col-md-3" autocomplete="off" name="txt_AR_BTNSearch" id="txt_AR_BTNSearch" />
        <label class="col-md-2">الاسم بالإنجليزية</label>&nbsp;
        <input type="text" class="form-inline col-md-3" autocomplete="off" name="txt_EN_BTNSearch" id="txt_EN_BTNSearch" />&nbsp;
        <input type="button" class="btn btn-primary" id="LoadRecordsButton" value="بحث">
    </div>
}

@section Path{
    <li>إعتماد المحطة</li>
    <li class="active">إعتماد المحطة</li>
}
<style>
   #jtable-create-form, #jtable-edit-form {
        width: 700px !important;
       
        height: 650px !important;
        /*overflow:scroll !important;*/
    }.jtable-input-field-container:nth-of-type(1),
      .jtable-input-field-container:nth-of-type(2) , .jtable-input-field-container:nth-of-type(3),
      .jtable-input-field-container:nth-of-type(4) , .jtable-input-field-container:nth-of-type(5),
      .jtable-input-field-container:nth-of-type(6) , .jtable-input-field-container:nth-of-type(7)
     
     {
        margin-bottom: 2px;
        float: right;
        width: 33% !important;
    }
     .jtable-input-field-container:nth-of-type(8)
     {
        margin-bottom: 2px;
        float: right;
        width: 65% !important;
    }
     .jtable-input-field-container:nth-of-type(10)
     {
        margin-bottom: 2px;
        float: right;
        width: 98% !important;
         background-color: #87e887;
    }
      .jtable-input-field-container:nth-of-type(11)
     {
        margin-bottom: 2px;
        float: right;
        width: 98% !important;
    }
     .jtable-input-field-container:nth-of-type(9)
     {
        margin-bottom: 2px;
        float: right;
        width: 98% !important;
    }
     
</style>

@section scripts{
    <script type="text/javascript">
        var counterContacts = 0;
        var counterContactType_ID = 0;
        $(function () {
            $('#StationALL_List').jtable({
                title: 'إعتماد المحطة',
                paging: true,
                pageSize: 10,
                sorting: true,
                //defaultSorting: 'CourseName ASC',
                columnResizable: true,
                columnSelectable: true,
                saveUserPreferences: true,
                actions: {
                    listAction: function (postData, jtParams) {
                        return {
                            "Result": "OK",
                            "Records": [
                                { "Ar_Name": 'محطة 1', "En_Name": 'satation aaaa', "Address_Ar": 'شارع الحرية', "Address_En": 'addr 1', "IsActive": false },
                                { "Ar_Name": 'محطة 2', "En_Name": 'station bbbb', "Address_Ar": 'مدينة السلام', "Address_Ar": 'addr 2',  "IsActive": true }],
                            "TotalRecordCount": 2
                        };
                    },
                    createAction: 'CreateTBLRows',
                    updateAction: 'UpdateTBLRows',
                    deleteAction: 'DeletelistTBLRows'
                },

                fields: {
                    ID: {
                        key: true,
                        create: false,
                        edit: false,
                        list: false
                    },

                    Ar_Name: {
                        title: 'الاسم بالعربية',
                        inputClass: 'validate[required]'
                    },
                    En_Name: {
                        title: 'الاسم بالإنجليزية',
                        inputClass: 'validate[required]',

                    },
                    Address_Ar: {
                        title: 'العنوان بالعربية',
                        inputClass: 'validate[required]'
                    },
                    Address_En: {

                        title: 'العنوان بالإنجليزية',
                        inputClass: 'validate[required]',

                    },
                    TaxesRecord: {
                        title: 'السجل الضريبي',
                        inputClass: 'validate[required]',
                        list: false
                    },
                    CommertialRecord: {
                        title: 'السجل التجارى',
                        inputClass: 'validate[required]',
                        list: false
                    },
                    Industrial_License_Num: {
                        title: 'رقم الترخيص الصناعي',
                        inputClass: 'validate[required]',
                        list: false
                    },
                    IsActive: {
                        title: 'الحالة',
                        type: 'checkbox',
                        values: { 'false': ' غير فعال ', 'true': 'فعال ' },
                        defaultValue: 'true',
                    },

                    AddFiles: {
                        input: function () {
                            return '<Label>إضافة مستندات : </Label><input type="file" name="img" multiple>';
                        },
                        list: false
                    },

                    TitleContacts: {
                        input: function () {
                            return '<label >وسائل إتصال الحجر الزراعي</label>';
                        },
                        list: false
                    },

                    AddContactBtn: {
                        input: function () {
                            return '<button type="button" class="btn btn-primary" style="margin-top: 11px;color:  green;background-color: #d5ead3;">إضافة وسيلة إتصال</button>';
                        },
                        list: false
                    },
                    PartialView: {
                        input: function () {
                            return '<div id="dialog-modal" ></div>';
                        },
                        list: false
                    },
               Activity_List: {
                title: '',
                width: '5%',
                sorting: false,
                edit: false,
                create: false,

                display: function (ActivityData) {
                    //Create an image that will be used to open child table
                    var $img = $('<img src="/assets/images/Activity.png" title="Add ActivityData"  width="35px"/>');
                    //Open child table when user clicks the image
                    $img.click(function () {

                        $('#StationALL_List').jtable('openChildTable',
                        $img.closest('tr'), //Parent row
                        {
                            title: "بيانات النشاط",
                            sorting: true,
                            columnResizable: true,
                            columnSelectable: true,
                            //  selecting: true, //Enable selecting
                            // multiselect: true, //Allow multiple selecting
                            //selectingCheckboxes: true, //Show checkboxes on first column

                            actions: {
                                listAction:  function (postData, jtParams) {
                                    return {
                                        "Result": "OK",
                                        "Records": [
                                            { "StationActivityType_Name": 'تغليف', "Enrollment_Start": '2019-01-02', "Enrollment_End": '2021-11-02', "Activity_IsActive": 'فعال' },
                                            { "StationActivityType_Name": 'تطهير', "Enrollment_Start": '2017-11-02', "Enrollment_End": '2020-11-02', "Activity_IsActive": 'فعال' }],
                                        "TotalRecordCount": 2
                                    };
                                },
                                createAction: '/FarmData/CreateFarmPlant?Farm_ID=' + ActivityData.record.ID,
                                updateAction: '/FarmData/UpdateFarmPlant?Farm_ID=' + ActivityData.record.ID,
                                deleteAction: '/FarmData/DeleteFarmPlant'
                            },
                            fields: {
                                ID: {
                                    key: true,
                                    create: false,
                                    edit: false,
                                    list: false
                                },
                                StationActivityType_ID: {
                                    title: 'نشاط المحطة',
                                    list:false,
                                    options: [
                                 { Value: '6', DisplayText: 'تغليف' },
                                 { Value: '9', DisplayText: 'فرز' },
                                 { Value: '12', DisplayText: 'تطهير' }
                                    ]
                                },
                                ProdPlant_ID: {
                                    list:false,
                                    options: function (data) {

                                        if (data.source == 'list') {
                                            return '../../CommonActions/VariousTypes/A_SystemCode_List';
                                        }
                                            // ADD OR EDIT
                                        else {
                                            return '../../CommonActions/VariousTypes/A_SystemCode_AddEDIT?Syscodenum=2';
                                        }
                                    },
                                IsPlant: {
                                    title: 'IsPlant'
                                },
                                StationActivityType_Name: {
                                    title: 'نوع النشاط'

                                },
                                Enrollment_Start: {
                                    title: 'تاريخ البداية',
                                    type: 'date',

                                },
                                Enrollment_End: {
                                    title: 'تاريخ النهاية',
                                    type: 'date',

                                },
                                Activity_IsActive: {
                                    title: 'الحالة',
                                    type: 'checkbox',
                                    values: { 'false': ' غير فعال ', 'true': 'فعال ' },
                                    defaultValue: 'true',

                                },
                                TitleCompany: {
                                    input: function () {
                                        return '<label >بيانات الشركة</label>';
                                    },
                                    list: false
                                },
                                Company_ID: {
                                    title: 'الشركة',
                                    list: false,
                                    options: [
                                { Value: '1', DisplayText: 'شركة1' },
                                { Value: '17', DisplayText: 'شركة2' },
                                { Value: '19', DisplayText: 'شركة3' }
                                    ]
                                },
                                StartDateComp: {
                                    title: 'تاريخ البداية',
                                    type: 'date',
                                    list: false
                                },
                                EndDateComp: {
                                    title: 'تاريخ النهاية',
                                    type: 'date',
                                    list: false
                                },
                                IsActiveComp: {
                                    title: 'الحالة',
                                    type: 'checkbox',
                                    values: { 'false': ' غير فعال ', 'true': 'فعال ' },
                                    defaultValue: 'true',
                                    list: false
                                },

                            },
                            formCreated: function (event, data) {
                                // $("#Edit-Plant_Name").hide();
                                if (data.formType == "create") {
                                    $(".ui-dialog-title").text("إضافة نشاط");
                                }
                                else {
                                    $(".ui-dialog-title").text("تعديل نشاط");
                                }
                            },
                            formSubmitting: function (event, data) {
                                return data.form.validationEngine('validate');
                            },
                            formClosed: function (event, data) {
                                data.form.validationEngine('hide');
                                data.form.validationEngine('detach');
                                $(".ui-dialog-title").text("حذف نشاط");
                            },
                            recordAdded: function (event, data) {
                    //Mah+Ag 17-4-2019 change display message
                    alertify.success("@PlantQuar.WEB.Language.Resource_data1.Save_Insert");
                },
                recordUpdated: function (event, data) {
                                        //Mah+Ag 17-4-2019 change display message
                    alertify.success("@PlantQuar.WEB.Language.Resource_data1.Save_Update");
                            },
                recordDeleted: function (event, data) {
                                        //Mah+Ag 17-4-2019 change display message
                    alertify.success("@PlantQuar.WEB.Language.Resource_data1.Save_Delete");
                },
                            /*rowInserted: function (event, data) {
                                if (data.record.IsActive == true) {
                                    data.row.css("background", "#4fabfe").click();
                                }
                            },*/
                        }, function (data) { //opened handler
                            data.childTable.jtable('load');
                        });
                    });
                    //Return image to show on the person row
                    return $img;
                }
               },

                    Accr_List: {
                        title: '',
                        width: '5%',
                        sorting: false,
                        edit: false,
                        create: false,

                        display: function (AccrData) {
                            //Create an image that will be used to open child table
                            var $img = $('<img src="/assets/images/accr_image.png" title="Add Accridation Data"  width="35px"/>');
                            //Open child table when user clicks the image
                            $img.click(function () {

                                $('#StationALL_List').jtable('openChildTable',
                                $img.closest('tr'), //Parent row
                                {
                                    title: "بيانات الاعتماد",
                                    sorting: true,
                                    columnResizable: true,
                                    columnSelectable: true,
                                    //  selecting: true, //Enable selecting
                                    // multiselect: true, //Allow multiple selecting
                                    //selectingCheckboxes: true, //Show checkboxes on first column

                                    actions: {
                                        listAction: function (postData, jtParams) {
                                            return {
                                                "Result": "OK",
                                                "Records": [
                                                    { "Country_Name": 'مصر', "Treatment_Name": 'معالجة 1', "Accr_IsActive": 'غير فعال' },
                                                    { "Country_Name": 'السعودية', "Treatment_Name": 'معالجة 2', "Accr_IsActive": 'فعال' }],
                                                "TotalRecordCount": 2
                                            };
                                        },
                                        createAction: '/FarmData/CreateFarmPlant?Farm_ID=' + AccrData.record.ID,
                                        updateAction: '/FarmData/UpdateFarmPlant?Farm_ID=' + AccrData.record.ID,
                                        deleteAction: '/FarmData/DeleteFarmPlant'
                                    },
                                    fields: {
                                        ID: {
                                            key: true,
                                            create: false,
                                            edit: false,
                                            list: false
                                        },
                                        Country_Name: {
                                            title: 'الدولة',
                                            create: false,
                                            edit: false
                                        },
                                        Country_ID: {
                                            title: 'الدولة',
                                            list: false,
                                            options: [
                                        { Value: '1', DisplayText: 'مصر' },
                                        { Value: '17', DisplayText: 'إيطاليا' },
                                        { Value: '19', DisplayText: 'الإمارات' },
                                         { Value: '21', DisplayText: 'السعودية' }
                                            ]
                                        },
                                        bridge: {
                                            title: 'منتج/نبات',
                                            list: false,
                                            type: 'radiobutton',
                                            options: {
                                                '1': 'المنتج',
                                                '2': 'النبات'
                                            }
                                        },
                                        Product_ID: {
                                            title: 'المنتج',
                                            list: false,
                                            options: [
                                        { Value: '1', DisplayText: 'مانجو' }
                                            ]
                                        },
                                        Treatment_Id: {
                                            title: 'المعالجة',
                                            list: false,
                                            options: [
                                       { Value: '8', DisplayText: 'معالجة 1' },
                                       { Value: '9', DisplayText: 'معالجة 2' }
                                            ]
                                        },
                                        Treatment_Name: {
                                            title: 'المعالجة',
                                            create: false,
                                            edit: false
                                        },
                                        StartDate: {
                                            title: 'تاريخ البداية',
                                            type: 'date',
                                            list: false
                                        },
                                        EndDate: {
                                            title: 'تاريخ النهاية',
                                            type: 'date',
                                            list: false
                                        },
                                        Accr_IsActive: {
                                            title: 'الحالة',
                                            type: 'checkbox',
                                            values: { 'false': ' غير فعال ', 'true': 'فعال ' },
                                            defaultValue: 'true',

                                        },


                                    },
                                    formCreated: function (event, data) {
                                        // $("#Edit-Plant_Name").hide();
                                        if (data.formType == "create") {
                                            $(".ui-dialog-title").text("إضافة إعتماد");
                                        }
                                        else {
                                            $(".ui-dialog-title").text("تعديل إعتماد");
                                        }
                                    },
                                    formSubmitting: function (event, data) {
                                        return data.form.validationEngine('validate');
                                    },
                                    formClosed: function (event, data) {
                                        data.form.validationEngine('hide');
                                        data.form.validationEngine('detach');
                                        $(".ui-dialog-title").text("حذف إعتماد");
                                    },
                                    recordAdded: function (event, data) {
                    //Mah+Ag 17-4-2019 change display message
                    alertify.success("@PlantQuar.WEB.Language.Resource_data1.Save_Insert");
                },
                recordUpdated: function (event, data) {
                                        //Mah+Ag 17-4-2019 change display message
                    alertify.success("@PlantQuar.WEB.Language.Resource_data1.Save_Update");
                                    },
                recordDeleted: function (event, data) {
                                        //Mah+Ag 17-4-2019 change display message
                    alertify.success("@PlantQuar.WEB.Language.Resource_data1.Save_Delete");
                },
                                    /*rowInserted: function (event, data) {
                                        if (data.record.IsActive == true) {
                                            data.row.css("background", "#4fabfe").click();
                                        }
                                    },*/
                                }, function (data) { //opened handler
                                    data.childTable.jtable('load');
                                });
                            });
                            //Return image to show on the person row
                            return $img;
                        }
                    },

                },
                formCreated: function (event, data) {
                    $("#Edit-AddContactBtn").click(function () {
                        $("#dialog-modal").append("نوع وسيلة الإتصال : <select name='ContactType_ID[" + counterContactType_ID + "]'><option value='1'>تليفون</option><option value='2'>ميل</option><option value='3'>فاكس</option></select> وسيلة الإتصال :<input type='text' name='Contacts[" + counterContacts + "]' /> <button type='button' class='btn btn-primary' style='margin-right: 8px;color:  green;background-color: #ea6464;'>حذف</button><br/><br/>");
                        counterContactType_ID++;
                        counterContacts++;
                    });
                    if (data.formType == "create") {
                        $(".ui-dialog-title").text("إضافة محطة");
                    }
                    else {
                        $(".ui-dialog-title").text("تعديل محطة");
                    }


                    $("#Edit-Ar_Name, #Edit-En_Name, #Edit-Address_Ar, #Edit-Address_En, #Edit-CommertialRecord, #Edit-CommertialRecord,#txt_AR_BTNSearch, #txt_EN_BTNSearch").attr('autocomplete', 'off');

                    // Arabic + spaces + numeric
                    $("#Edit-Ar_Name,#Edit-Address_Ar").keypress(function (e) {
                         
                        var unicode = e.charCode ? e.charCode : e.keyCode
                        if (unicode != 8) { //if the key isn't the backspace key (which we should allow)
                            if (unicode == 32)
                                return true;
                            else {
                                if ((unicode < 48 || unicode > 57) && (unicode < 0x0600 || unicode > 0x06FF)) //if not a number or arabic
                                    return false; //disable key press
                            }
                        }
                    });

                },
                formSubmitting: function (event, data) {
                    return data.form.validationEngine('validate');
                },
                formClosed: function (event, data) {
                    data.form.validationEngine('hide');
                    data.form.validationEngine('detach');
                    $(".ui-dialog-title").text("حذف محطة");
                },
                recordAdded: function (event, data) {
                    //Mah+Ag 17-4-2019 change display message
                    alertify.success("@PlantQuar.WEB.Language.Resource_data1.Save_Insert");
                },
                recordUpdated: function (event, data) {
                                        //Mah+Ag 17-4-2019 change display message
                    alertify.success("@PlantQuar.WEB.Language.Resource_data1.Save_Update");
                },
                recordDeleted: function (event, data) {
                                        //Mah+Ag 17-4-2019 change display message
                    alertify.success("@PlantQuar.WEB.Language.Resource_data1.Save_Delete");
                },
            });
            $('#StationALL_List').jtable('load');


            $('#LoadRecordsButton').click(function (e) {

                e.preventDefault();
                $('#StationALL_List').jtable('load', {

                    txt_AR_BTNSearch: $('#txt_AR_BTNSearch').val().trim(),
                    txt_EN_BTNSearch: $('#txt_EN_BTNSearch').val().trim()
                });
            });
            $("#txt_AR_BTNSearch").keypress(function (e) {
                var unicode = e.charCode ? e.charCode : e.keyCode
                if (unicode != 8) { //if the key isn't the backspace key (which we should allow)
                    if (unicode == 32) { }// return data.form.validationEngine('validate');
                    else {
                        if (((unicode < 48 || unicode > 57) && unicode != 13) && (unicode < 0x0600 || unicode > 0x06FF)) //if not a number or arabic

                        {
                            return false; //disable key press
                        } else {
                            if (unicode == 13) {
                                $('#LoadRecordsButton').click();
                            }

                        }


                    }
                }
            });
            $("#txt_EN_BTNSearch").keypress(function (e) {

                var unicode = e.charCode ? e.charCode : e.keyCode
                if (unicode != 8) { //if the key isn't the backspace key (which we should allow)
                    if (unicode == 32)
                        return true;
                    else {
                        if (!(unicode < 0x0600 || unicode > 0x06FF)) //if not english
                        {
                            return false; //disable key press
                        } else {
                            if (unicode == 13) {
                                $('#LoadRecordsButton').click();
                            }

                        }
                    }
                }
            });
            $(".jtable-toolbar-item-add-record .jtable-toolbar-item-text").text("إضافة محطة");
        });
    </script>
}
<br />
<div id="StationALL_List">
</div>

