
@model List<PlantQuar.DTO.DTO.Farm.FarmConstrain.Farm_CheckList_Constrain_DTO>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

@section Title{
    <h2 class="ls-top-header">متطلبات المزرعة</h2>
}
@section Path{
    <li>@PlantQuar.WEB.Language.Resource_data1.Constrains</li>
    <li class="active">@PlantQuar.WEB.Language.Resource_data1.Import_CountryConstrain</li>
}

<link href="~/assets/css/bootstrap-select.min.css" rel="stylesheet" />
<style>
    .bootstrap-select .dropdown-menu.inner {
        float: left !important;
    }
</style>
<div>

    <div class="row">

        <div class="col-md-6">
            <div>
                <label for="Constrain_Country" class="control-label">الدول</label>
            </div>
            <div id="myDropdown">
                <select id="Farm_Constrain_Country_Item_List" class="form-control  col-md-12" required></select>
            </div>
        </div>

        <div class="col-md-6">

            <label for="Country_Id" class="control-label">@PlantQuar.WEB.Language.Resource_data1.Items</label>
            <select id="Item_ID_List" name="Item_ID_List" class="form-control" required></select>
        </div>

        <div class="col-md-6">
            <label for="Lbl_Farm_Constrain_Text_ID" class="control-label">المتطلبات</label>
            <select id="select_Farm_Constrain_Text_ID" class="form-control"></select>
        </div>




    </div>

    <div class="row" hidden>
        <div class="col-md-6">
            <label for="ConstrainText_Ar" class="control-label">عنوان الاشتراط بالعربية </label>
            <input type="text" id="ConstrainText_Ar" name="name" value="" required />

        </div>

        <div class="col-md-6">
            <label for="ConstrainText_En" class="control-label">condition titlle</label>
            <input type="text" id="ConstrainText_En" name="name" value="" required />

        </div>
    </div>
    <br />
    <div class="row" hidden>
        <div class="col-md-6">
            <label for="InSide_Certificate_Ar" class="control-label">نص الاشتراط /الاضافة  </label>
            <input type="text" id="Description_Ar" name="name" value="" required />
        </div>

        <div class="col-md-6">
            <label for="InSide_Certificate_En" class="control-label">condition /Addition</label>
            <input type="text" id="Description_En" name="name" value="" required />
        </div>
    </div>
    <br />

    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            @* <input type="submit" class="btn btn-primary" id="Save_Check" style="width:100%" value="@PlantQuar.WEB.Language.Resource_data1.Save" autocomplete="off">*@
            <input type="submit" id="Save_Check" value="@PlantQuar.WEB.Language.Resource_data1.Save" style="height: auto;color: white;background-color: #1e7c80;border: 2px solid #1e8084;box-shadow: 0 4px #1d9fa5; outline: none; color: white;margin-top: 5px;" data-toggle='modal'
                   data-target='#mytextVisa'>
        </div>
    </div>
</div>

<div id="mytextVisa" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title">لتاكيد إضافة المطلب </h4>
            </div>
            <div class="modal-body" id="modaldetails">
                هل تريد إضافة هذه المطلب؟؟
            </div>
            <div class="modal-footer" style="text-align:center">
                <button type="button" class="btn btn-default " onClick="reply_Insert_Visa(this)" data-dismiss="modal">نعم</button>
                <button type="button" class="btn btn-default " data-dismiss="modal">لا</button>
            </div>
        </div>

    </div>
</div>

@*<div class="row">
        <div class="col-md-4">
            @Html.ActionLink(PlantQuar.WEB.Language.Resource_data1.Add, "Farm_CheckList_ConstrainAddEdit", "Farm_CheckList_Constrain", new { area = "FA_Farm" }, new { @class = "btn ", @style = "width:100%;background-color:#3b818e;border:2px solid #1e8084;box-shadow:0 4px #0aa6c3;color:#fff;" })
        </div>
        <div class="col-md-4"></div>
    </div>*@
<br />
<form style="padding: 10px; background-color: whitesmoke">
    <div id="listFarm_CheckList_Constrain" class="row">
        <div class="col-md-12 dataTables_wrapper form-inline dt-bootstrap" style="padding:20px;">
            <table id="Farm_CheckList_ConstrainTable" class="table table-bordered table-striped dataTable" role="grid">
                <thead>
                    <tr>
                        <th hidden>ID</th>
                        <th>عنوان الاشتراط بالعربية</th>
                        <th>الدوله</th>
                        <th>condition titlle</th>
                        <th>نص الاشتراط /الاضافة</th>
                        <th>condition /Addition</th>
                        <th>@PlantQuar.WEB.Language.Resource_data1.Active</th>
                        <th>@PlantQuar.WEB.Language.Resource_data1.Edit</th>
                        <th>@PlantQuar.WEB.Language.Resource_data1.Delete</th>
                    </tr>
                </thead>
                <tbody id="myTable2"></tbody>
            </table>
        </div>
    </div>
</form>
<script src="~/assets/js/bootstrap-select1.min.js"></script>

<script>

    $(function () {

        // الاشتراطات
         $.ajax( {
                        url: '@Url.Action("Farm_Constrain_List", "Farm_CheckList_Constrain", new { area = "FA_Farm" })',
                        type: 'Post',
                        success: function (data) {
                            $('#select_Farm_Constrain_Text_ID').empty();
                            $.each(data.Options, function (i, index) {

                                $('#select_Farm_Constrain_Text_ID').append($('<option />').val(index.Value).text(index.DisplayText));
                            }); //each
                            $('#select_Farm_Constrain_Text_ID').selectpicker('refresh');
                        } //success
         });//ajax
        // النبات
         $.ajax( {
                        url: '@Url.Action("Farm_Item_List", "Farm_CheckList_Constrain", new { area = "FA_Farm" })',
                        type: 'Post',
                        success: function (data) {
                            $('#Item_ID_List').empty();
                            $.each(data.Options, function (i, index) {

                                $('#Item_ID_List').append($('<option />').val(index.Value).text(index.DisplayText));
                            }); //each
                            $('#Item_ID_List').selectpicker('refresh');

                        } //success
                    });//ajax


        //الدول
                $.ajax(
                    {
                        url: '@Url.Action("Country_List", "Farm_CheckList_Constrain", new { area = "FA_Farm" })',

                        type: 'Post',
                        success: function (data) {
                            $('#Farm_Constrain_Country_Item_List').empty();
                            $.each(data.Options, function (i, index) {

                                $('#Farm_Constrain_Country_Item_List').append($('<option />').val(index.Value).text(index.DisplayText));
                            }); //each
                            $('#Farm_Constrain_Country_Item_List').selectpicker('refresh');
                        } //success
                    });//ajax
            });

    $('#Farm_Constrain_Country_Item_List').on("change", function () {
        FillTable();
    });

    $( '#Item_ID_List').on("change", function () {
        FillTable();
    });

            @*$(document).ready(function () {
                if ('@ViewBag.message' != "") {
                    alert('@ViewBag.message')
                }
                FillTable();
            });*@

    function FillTable() {
        var _Country_ID = $('#Farm_Constrain_Country_Item_List').val();
        var _Item_ID = $('#Item_ID_List').val();
        var html = '';
        $.getJSON('/FA_Farm/Farm_CheckList_Constrain/listFarm_CheckList_Constrain',
            { Country_ID: _Country_ID, Item_ID: _Item_ID },
            function (data, succ) {

                $.each(data, function (i, item) {

                    var Update = 2;
                    if (item.IsActive == true) {
                        Update = 1;
                    }

                    var hrefEdit = "@Url.Action("Update_Delete_Farm_CheckList_Constrain", "Farm_CheckList_Constrain", new { area = "FA_Farm", id = "__id__" })";
                    hrefEdit = hrefEdit.replace("__id__", item.ID_Farm_CheckList + "_" + item.ID_Farm_Country_CheckList + "_" + Update);
                    var stop_start = item.ID_Farm_CheckList + "_" + item.ID_Farm_Country_CheckList + "_" + Update;

                    var hrefDel = "@Url.Action("Update_Delete_Farm_CheckList_Constrain", "Farm_CheckList_Constrain", new {  area = "FA_Farm", id = "__id__" })";
                    hrefDel = hrefDel.replace("__id__", item.ID_Farm_CheckList + "_" + item.ID_Farm_Country_CheckList + "_0");
                    var _delete = item.ID_Farm_CheckList + "_" + item.ID_Farm_Country_CheckList + "_0";
                   // alert(item.Country_Name);

                    var Country_Name = item.Country_Name;
                    html += "<tr>" +
                        "<td hidden>" + item.ID_Farm_CheckList + "</td>" +
                        "<td hidden>" + item.ID_Farm_Country_CheckList + "</td>" +
                        "<td>" + item.ConstrainText_Ar + "</td>" +
                        "<td>" + (Country_Name == null ? "كل الدول" : item.Country_Name) + "</td>" +
                        "<td>" + item.ConstrainText_En + "</td>" +
                        "<td>" + item.Description_Ar + "</td>" +
                        "<td>" + item.Description_En + "</td>" +
                        "<td>" + item.IsActive + "</td>";
                    /*"<td>" + item.IsCertificate_Addtion + "</td>" +*/
                    if (item.IsActive == true) {
                      /*  html += "<td><a href=" + hrefEdit + ">ايقاف الشرط</a></td>";*/
                        html += "<td> <input type='Button' class='btn btn-primary' id='" + stop_start + "' onClick='stop_Check(this)' value='ايقاف الشرط' autocomplete='off'></td>"
                    }
                    else {
                        /*html += "<td><a href=" + hrefEdit + ">تشغيل الشرط</a></td>";*/
                        html += "<td> <input type='Button' class='btn btn-primary' id='" + stop_start + "' onClick='start_Check(this)' value='تشغيل الشرط' autocomplete='off'></td>"


                    }
                    @*html += "<td><a href=" + hrefDel + ">@PlantQuar.WEB.Language.Resource_data1.Delete</a></td></tr>";*@
                   html += "<td> <input type='Button' class='btn btn-primary' id='" + _delete + "' onClick='delete_Check(this)' value='حذف الشرط' autocomplete='off'></td>"

                });
                //alertify.success("تم التعديل ");
                //location.href = "/FA_Farm/Farm_CheckList_Constrain/Index"
                $("#Farm_CheckList_ConstrainTable tbody").empty();
                $("#Farm_CheckList_ConstrainTable tbody").append(html);
            });
        }

        $('#LoadRecordsButton').click(function (e) {
                if ('@ViewBag.message' != "") {
                    alert('@ViewBag.message')
                }
                FillTable();
            });

        var _CheckList_Constrain_List = [];
        @*$('#Save_Check').click(function (e) {

        var _Farm_Constrain_Country_Item_List = $("#Farm_Constrain_Country_Item_List").val();
        var _Item_ID_List = $("#Item_ID_List").val();
        var _select_Farm_Constrain_Text_ID = $("#select_Farm_Constrain_Text_ID").val();

        if (_Farm_Constrain_Country_Item_List.length >0
            && _Item_ID_List.length > 0
            && _select_Farm_Constrain_Text_ID.length > 0
        ) {
                $.ajax({
                    type: "POST",
                    url: "/Farm_CheckList_Constrain/SaveFarm_CheckList_Constrain",
                    dataType: "json",
                    data: JSON.stringify({
                        Country_Id: _Farm_Constrain_Country_Item_List,
                        Item_ID: _Item_ID_List,
                        Farm_Constrain_Text_ID: _select_Farm_Constrain_Text_ID
                        //ConstrainText_Ar: _ConstrainText_Ar,
                        //ConstrainText_En: _ConstrainText_En,
                        //Description_Ar: _Description_Ar,
                        //Description_En: _Description_En
                    }),
                    contentType: "application/json; charset=utf-8",
                    success: function (result) {

                        /* alert(result.Options);*/
                        if (result != null) {
                            alertify.success("@PlantQuar.WEB.Language.Resource_data1.Save_Insert");
                            //location.href = "/FA_Farm/Farm_CheckList_Constrain/Index"
                            FillTable()
                        }
                        else
                            alertify.alert('We face some technical difficulties. Hello World');



                    }
                });
            }
            else {
                alertify.error("يجب استكمال البيانات");
            }
        });*@




        function stop_Check(element) {
            var id= element.id;
            $.ajax({
                type: "POST",
                url: "/Farm_CheckList_Constrain/Update_Delete_Farm_CheckList_Constrain",
                dataType: "json",
                data: JSON.stringify({id: id }),
                contentType: "application/json; charset=utf-8",
                success: function (result) {

                   /* alert(result.Options);*/
                    if (result != null) {
                        alertify.success("تم ايقاف الشرط");
                        location.href = "/FA_Farm/Farm_CheckList_Constrain/Index"
                    }
                    else
                        alertify.alert('We face some technical difficulties. Hello World');



                }
            });

        }


        function start_Check(element) {
            var id= element.id;

            $.ajax({
                type: "POST",
                url: "/Farm_CheckList_Constrain/Update_Delete_Farm_CheckList_Constrain",
                dataType: "json",
                data: JSON.stringify({id: id }),
                contentType: "application/json; charset=utf-8",
                success: function (result) {

                   /* alert(result.Options);*/
                    if (result != null) {
                        alertify.success("تم تشغيل الشرط");
                        location.href = "/FA_Farm/Farm_CheckList_Constrain/Index"
                    }
                    else
                        alertify.alert('We face some technical difficulties. Hello World');



                }
            });

        }


        function delete_Check(element) {
            var id = element.id;

            $.ajax({
                type: "POST",
                url: "/Farm_CheckList_Constrain/Update_Delete_Farm_CheckList_Constrain",
                dataType: "json",
                data: JSON.stringify({ id: id }),
                contentType: "application/json; charset=utf-8",
                success: function (result) {

                    /* alert(result.Options);*/
                    if (result != null) {
                        alertify.success("تم حذف الشرط");
                        location.href = "/FA_Farm/Farm_CheckList_Constrain/Index"
                    }
                    else
                        alertify.alert('We face some technical difficulties. Hello World');
                }
            });

    }


    //التأشيرة
        function reply_Insert_Visa(element) {
            var Constrain_ID = document.getElementById("select_Farm_Constrain_Text_ID").value;
            //var Constrain_Name = $('#select_Farm_Constrain_Text_ID :selected').text();


            var InsertConstrain = true;
            var rows = document.getElementById("myTable2").rows;
            for (var i = 0, ceiling = rows.length; i < ceiling; i++) {

                cells = rows[i].getElementsByTagName('td');
                Tab_Constrain_Id = cells[0].innerHTML;


                if (Tab_Constrain_Id == Constrain_ID) {
                    InsertConstrain = false;
                }
            }

            //alert(Constrain_ID);
            //alert(Tab_Constrain_Id);
            //alert(InsertConstrain);
            if (InsertConstrain == true) {
                if (Constrain_ID > 0) {
                    var _Farm_Constrain_Country_Item_List = $("#Farm_Constrain_Country_Item_List").val();
                    var _Item_ID_List = $("#Item_ID_List").val();
                    var _select_Farm_Constrain_Text_ID = $("#select_Farm_Constrain_Text_ID").val();

        if (_Farm_Constrain_Country_Item_List.length >0
            && _Item_ID_List.length > 0
            && _select_Farm_Constrain_Text_ID.length > 0
        ) {
                $.ajax({
                    type: "POST",
                    url: "/Farm_CheckList_Constrain/SaveFarm_CheckList_Constrain",
                    dataType: "json",
                    data: JSON.stringify({
                        Country_Id: _Farm_Constrain_Country_Item_List,
                        Item_ID: _Item_ID_List,
                        Farm_Constrain_Text_ID: _select_Farm_Constrain_Text_ID

                    }),
                    contentType: "application/json; charset=utf-8",
                    success: function (result) {

                        if (result != null) {
                            alertify.success("@PlantQuar.WEB.Language.Resource_data1.Save_Insert");

                            FillTable()
                        }
                        else
                            alertify.alert('We face some technical difficulties. Hello World');



                    }

                });
            }
            else {
                alertify.error("يجب استكمال البيانات");
            }
                }
                else {
                    alertify.error("يجب تحديد المطلب ");
                }
            }
            else {
                alertify.error("المطلب موجود مسبقا");
                }






    }


    $(document).ready(function () {
        $("#Farm_Constrain_Country_Item_List,#Item_ID_List,#select_Farm_Constrain_Text_ID").selectpicker({
            liveSearch: true



        });
    });
</script>

