@model PlantQuar.DAL.Outlet

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Outlet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ar_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ar_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.En_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.En_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address_Ar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address_Ar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address_En)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address_En)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Supervisor_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Supervisor_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User_Updation_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User_Updation_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User_Updation_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User_Updation_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User_Deletion_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User_Deletion_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User_Deletion_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User_Deletion_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User_Creation_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User_Creation_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User_Creation_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User_Creation_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ID_HR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_HR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.A_SystemCode.ValueName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.A_SystemCode.ValueName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.General_Admin.Ar_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.General_Admin.Ar_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PortNational.Name_Ar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PortNational.Name_Ar)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
