@model  List<PlantQuar.DTO.DTO.Station.Station_Accrediation_Committee_GetData_DTO>




@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
    var rownum = 1;
}
<script src="~/scripts/jquery.dataTables.min.js"></script>
<link href="~/assets/css/jquery.dataTables.min.css" rel="stylesheet" />
<div class="row">

    <table class="table table-striped table-bordered" style="width:100%" id="TestLoop">
        <thead>
            <tr class="label-primary">
                <th hidden>م</th>
                <th>اسم الشركة</th>
                <th>@PlantQuar.WEB.Language.Resource_data1.StationName</th>
                <th>اسم الاعتماد</th>
                <th>@PlantQuar.WEB.Language.Resource_data1.stationCode</th>
                <th>نوع الطلب</th>
                <th>المحافظة</th>
                <th>@PlantQuar.WEB.Language.Resource_data1.Details </th>
                <th>موقف الطلب</th>
            </tr>
        </thead>
        <tbody id="mybody">
        
            @foreach (var item in Model)
            {

            <tr id='stationId_@item.Station_ID'>
                @*<td hidden>@rownum</td>*@
                <td>@item.Company_Name</td>
                <td>@item.Ar_Name</td>
                <td>@item.Station_Accreditation_Data_Name</td>
                <td>@item.StationCode</td>
                <td>@item.Station_Accreditation_Request_Type_Name</td>
                <td>@item.Gov_Ar_Name</td>
                <td><a href="/Station_Pages/StationDetails/Index?stationId=@item.Station_ID">@PlantQuar.WEB.Language.Resource_data1.Details</a></td>
                @if (@item.station_btn == 0)
                {
                    <td>@item.station_Status</td>
                }
                else if (@item.station_btn == 1)
                {
                    <td>
                        @item.station_Status <a href='/Committees/Committee_Station/Index?Station_Requst_ID=@item.Station_Accreditation_Request_ID&Accreditation_Type_ID=@item.Accreditation_Type_ID'>تشكيل لجنة </a>
                    </td>
                }
                else if (@item.station_btn == 2)
                {
                    <td>
                        @item.station_Status
                        <a href='/Station_Pages/Station_Final_Result/Index?stationId=@item.Station_ID'>عرض النتايج</a>
                    </td>
                }
                else if (@item.station_btn == 3)
                {
            <td>
                @item.station_Status
                <a href='/Station_Pages/Station_Final_Result/Index?stationId=@item.Station_ID'>عرض النتايج</a>
                @*<a href='/Station_Pages/StationDetails/Station_Print?stationId=@item.Station_ID&Station_Accreditation_Data_ID=@item.Station_Accreditation_Data_ID'>طباعه</a>*@
                @if (@item.Station_Accreditation_Request_IsAccepted == true)
                {
                    <a href='/Station_Pages/StationDetails/Station_Print?stationId=@item.Station_ID&Station_Accreditation_Data_ID=@item.Station_Accreditation_Data_ID'>طباعه</a>

                }
            </td>
                }

                <td hidden='hidden'>@item.Accreditation_Type_ID</td>
            </tr>
                rownum = rownum + 1;

            }
        </tbody>

    </table>
</div>


<script>
    $(document).ready(function () {
        $('#TestLoop').DataTable();
    });</script>


