
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

@section Title{
    <h2 class="ls-top-header">@PlantQuar.WEB.Language.Resource_data1.ImportCountryConstrain</h2>
}

@section Path{
    <li>@PlantQuar.WEB.Language.Resource_data1.ImportCountryConstrain</li>
    <li class="active">@PlantQuar.WEB.Language.Resource_data1.ImportCountryConstrain</li>
}

<style>
    .form-box {
        border: none;
    }

    div[ aria-labelledby="ui-id-4"], div[ aria-labelledby="ui-id-12"], div[ aria-labelledby="ui-id-20"], div[ aria-labelledby="ui-id-28"] {
        top: 100px !important;
    }

    select.form-control:not([size]):not([multiple]) {
        height: 3.7rem;
    }

    .row {
        width: 100%;
    }

    blockquote {
        margin-bottom: 50px !important;
    }

    .ta1 {
        display: inline-block;
    }
    .breadcrumb > .active {
        right: 15px!important;
    }
</style>

@using (Html.BeginForm("constrainSave", "Im_Constrains", FormMethod.Post, new { @enctype = "multipart/form-data", @id = "Im_ConstrainForm" }))
{
   
    <div class="row">
        <div class="col-md-12">
            <div class="tab" role="tabpanel">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active">
                        <a data-id="1" href="#ItemTab" aria-controls="profile" role="tab" data-toggle="tab">@PlantQuar.WEB.Language.Resource_data1.Items</a>
                    </li>                   
                </ul>
                <!-- Tab panes -->
                <div class="tab-content tabs" style="min-height:433px;">
                    <div role="tabpanel" class="tab-pane fade in active" id="ItemTab">
                        @Html.Partial("~/Areas/Im_Constrains/Views/Im_ItemsConstrains/Im_ItemsConstrains.cshtml")
                    </div>                   
                </div>
            </div>
        </div>
    </div>
    <br />

    @* *****************************  SAVE  ************************* *@
    <div class="row">
        <div class="col-md-11"></div>
        <input type="submit" id="btnSavec" name="btnSave" value="@PlantQuar.WEB.Language.Resource_data1.Save"
               class="btn ls-light-green-btn btn-round btn-lg col-md-1 col-sm-4" style="float:left" />
    </div>
}