
@model List<PlantQuar.DTO.DTO.DataEntry.Fees.Fees_ActionDTO>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

@section Title{
    <h2 class="ls-top-header">@PlantQuar.WEB.Language.Resource_data1.Fees</h2>
}

@section Path{
    <li>@PlantQuar.WEB.Language.Resource_data1.Constrains</li>
    <li class="active">Fees_Action</li>
}
<link href="/Content/PagedList.css" rel="stylesheet" type="text/css" />
<link href="~/assets/css/jquery.dataTables.min.css" rel="stylesheet" />
<style>
    .bootstrap-select .dropdown-menu.inner {
        margin-right: 0px !important;
    }
</style>
<link href="~/assets/css/bootstrap-select.min.css" rel="stylesheet" />
@section filter{
    <div class="row">
        <label class="col-lg-2 col-md-12 col-sm-12">@PlantQuar.WEB.Language.Resource_data1.ArabicName</label>
        <input type="text" class="form-inline col-lg-3  col-md-12 col-sm-12" autocomplete="off" name="txt_AR_BTNSearch" id="txt_AR_BTNSearch" />
        <label class="col-lg-2 col-md-12 col-sm-12">@PlantQuar.WEB.Language.Resource_data1.EnglishName</label>
        <input type="text" class="form-inline col-lg-3  col-md-12 col-sm-12" autocomplete="off" name="txt_EN_BTNSearch" id="txt_EN_BTNSearch" />
        <input type="button" class="col-lg-1 col-md-2 btn btn-primary" id="LoadRecordsButton" value="@PlantQuar.WEB.Language.Resource_data1.Search">
    </div>
}


<div class="row">
    <div class="col-md-12">
        <div class="col-md-10"></div>
        <div class="col-md-2">
            @Html.ActionLink(@PlantQuar.WEB.Language.Resource_data1.Add, "FeesActionAddEdit", "FeesAction", new { area = "DE_Fees" }, new { @class = "btn btn-primary", @style = "width:100%" })
        </div>
    </div>
</div>
<form style="padding: 10px; background-color: whitesmoke">
    <div id="listFeesAction" class="row">
        <div class="col-md-12 dataTables_wrapper form-inline dt-bootstrap">

            @*<table id="FeesActionTable" class="table table-bordered table-striped dataTable" role="grid" style="padding:5px; width:100%">*@
            <table class="table table-bordered col-md-12" id="FeesActionTable">
                <thead>
                    <tr>
                        <th hidden>ID</th>
                        <th> @PlantQuar.WEB.Language.Resource_data1.ArabicName</th>
                        <th>@PlantQuar.WEB.Language.Resource_data1.EnglishName</th>
                        <th>@PlantQuar.WEB.Language.Resource_data1.Amount</th>
                        <th>@PlantQuar.WEB.Language.Resource_data1.MinAmount</th>
                        <th>@PlantQuar.WEB.Language.Resource_data1.WeightFrom</th>
                        <th>@PlantQuar.WEB.Language.Resource_data1.WeightTo</th>
                        <th>@PlantQuar.WEB.Language.Resource_data1.IsPaidBefore</th>
                        <th>@PlantQuar.WEB.Language.Resource_data1.Active</th>
                        <th>@PlantQuar.WEB.Language.Resource_data1.Mandatory</th>
                        <th>@PlantQuar.WEB.Language.Resource_data1.Edit</th>
                        <th>@PlantQuar.WEB.Language.Resource_data1.Delete</th>
                    </tr>
                </thead>
                <tbody id="mybody">
                    @if (Model != null)
                    {
                        if (Model.Count > 0)
                        {
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td hidden>@item.ID</td>
                                    <td>@item.Name_Ar</td>
                                    <td>@item.Name_En</td>
                                    <td>@item.Amount</td>
                                    <td>@item.MinAmount</td>
                                    <td>@item.WeightFrom</td>
                                    <td>@item.WeightTo</td>
                                    <td>@item.IsPaidBefore</td>
                                    <td>@item.IsActive</td>
                                    <td>@item.IsMandatory</td>
                                    <td>
                                        @Html.ActionLink(PlantQuar.WEB.Language.Resource_data1.Edit, "FeesActionAddEdit", "FeesAction", new { area = "DE_Fees", id = item.ID }, null)
                                    </td>
                                    <td>
                                        @Html.ActionLink(PlantQuar.WEB.Language.Resource_data1.Delete, "DeleteFeesAction", "FeesAction", new { area = "DE_Fees", FarmId = item.ID }, null)
                                    </td>
                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>
            <input type="button" value="@PlantQuar.WEB.Language.Resource_data1.Export_to_Excel" id="tableExcell">
        </div>
    </div>
</form>



<script>
    $("#tableExcell").click(function () {
        var html = "";
        $.getJSON('/DE_Fees/FeesAction/AllFeesActionExcell', {}, function (data, succ) {
           // console.log(data)
            $.each(data, function (i, item) {

                html += "<tr><td>" + data[i].Name_Ar + "</td><td>" + data[i].Name_En + "</td><td>" + data[i].Fees_process_ID + "</td><td>" + data[i].IsActive + "</td>"

                html += "</tr>";
            });
            $("#tbl tbody").empty();
            $("#tbl tbody").append(html);
            tableToExcel('all analysis lab', 'Table');
        });


    });

    var tableToExcel = (function () {
        var uri = 'data:application/vnd.ms-excel;base64,'
            , template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--><meta charset="UTF-8"></head><body><table>{table}</table></body></html>'
            , base64 = function (s) { return window.btoa(unescape(encodeURIComponent(s))) }
            , format = function (s, c) { return s.replace(/{(\w+)}/g, function (m, p) { return c[p]; }) }
        return function (table, name) {
            if (!table.nodeType) table = document.getElementById('tbl')
            var ctx = { worksheet: '@PlantQuar.WEB.Language.Resource_data1.AnalysisLab', table: table.innerHTML }
            window.location.href = uri + base64(format(template, ctx))
        }
    })();
    $(document).ready(function () {
        FillTable();
        $('#FeesActionTable').DataTable();
    });


    function FillTable() {
        $.ajax({
            url: '/DE_Fees/FeesAction/listFeesAction',
            data: {
                txt_AR_BTNSearch: $('#txt_AR_BTNSearch').val(),
                txt_EN_BTNSearch: $('#txt_EN_BTNSearch').val(),
            },
            success: function (listFeesAction) {
                $("#FeesActionTable tbody").empty();
                $.each(listFeesAction.Records, function (index, item) {

                    var hrefDetails = "@Url.Action("FeesActionDetails", "FeesAction", new { area = "DE_Fees", FarmId = "__id__" })";
                    hrefDetails = hrefDetails.replace("__id__", item.ID);

                    var hrefEdit = "@Url.Action("FeesActionAddEdit", "FeesAction", new { area = "DE_Fees", id = "__id__" })";
                    hrefEdit = hrefEdit.replace("__id__", item.ID);

                    var hrefDel = "@Url.Action("DeleteFeesAction", "FeesAction", new {  area = "DE_Fees", id = "__id__" })";
                    hrefDel = hrefDel.replace("__id__", item.ID);

                    $("#FeesActionTable tbody").append("<tr>" +
                        "<td hidden>" + item.ID + "</td>" +
                        "<td>" + item.Name_Ar + "</td>" +
                        "<td>" + item.Name_En + "</td>" +
                        "<td>" + item.Amount + "</td>" +
                        "<td>" + item.MinAmount + "</td>" +
                        "<td>" + item.WeightFrom + "</td>" +
                        "<td>" + item.WeightTo + "</td>" +
                        "<td>" + item.IsPaidBefore + "</td>" +
                        "<td>" + item.IsActive + "</td>" +
                        "<td>" + item.IsMandatory + "</td>" +
                        "<td><a href=" + hrefEdit + ">@PlantQuar.WEB.Language.Resource_data1.Edit</a></td>" +
                        "<td><a href=" + hrefDel + ">@PlantQuar.WEB.Language.Resource_data1.Delete</a></td>" +
                        "</tr>");
                });//each
            }
        });

    }

    $('#LoadRecordsButton').click(function (e) {
        FillTable();
    });
</script>

<script src="~/scripts/jquery.dataTables.min.js"></script>