@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<style>
    .bootstrap-select .dropdown-menu.inner {
        margin-right: 0px !important;
    }
</style>
<link href="~/assets/css/bootstrap-select.min.css" rel="stylesheet" />


@*<script src="~/assets/js/pace/pace.min.js"></script>*@

<div class="row">
    <div class="col-2">
        <input type="radio" id="renew" name="gender" value="1">
        <label for="male">طلبات التجديد</label>
    </div>
</div>
<br />
<div class="row">
    <label style="margin-right: 20px;" for="female">طلبات الاذن</label>
</div>
<br />
<div class="row">
    <div style="margin-right: 60px;">
        <input type="radio" id="requestid" name="gender" value="2">
        <label for="female"> التي تمت الموافقه عليها</label>
    </div>
    <div style="margin-right: 60px;">
        <input type="radio" id="requestidxx" name="gender" value="3">
        <label for="femalexx"> لم يتخذ اجراء علي الإذن</label>
    </div>
    <div style="margin-right: 60px;">
        <input type="radio" id="requestidx" name="gender" value="4">
        <label for="femalex"> المرفوضة</label>
    </div>
    <div class="col-md-4 col-sm-12" style="display:none">
        <input type="submit" value='@PlantQuar.WEB.Language.Resource_data1.Search' placeholder="search" id="Results" class="form-control" />
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-6 ta1">
        <label for="Constrain_Country" class="control-label col-md-4">الدولة </label>
        <select id="Country_List" class="form-control col-md-8 Country_List"></select>
    </div>

    <div class="col-md-6 ta1">
        <label class="control-label col-md-4">اسم الشركة</label>
        <select id="Company_List" class="form-control col-md-8  Company_List"></select>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-6 ta1">
        <label class="control-label col-md-4">@PlantQuar.WEB.Language.Resource_data1.ShortName</label>
        <select id="ShortName_Lst" class="form-control col-md-8  ShortName_Lst"></select>
    </div>

    <div class="col-md-6 ta1">
        <label class="control-label col-md-4">رقم إذن الاستيراد</label>
        <input type="text" name="Txt_Im_PermissionRequest" id="Txt_Im_PermissionRequest" class="form-control col-md-8" value="" />
    </div>
</div>

<br />
<div class="row">
    <div class="col-md-5"></div>
    <div class="col-md-2">
        <input type="submit" id="messagedata" class="btn btn-primary" style="width:100%" value="بـــــحث" autocomplete="off">
    </div>
    <div class="col-md-5"></div>
</div>

<script src="~/assets/js/bootstrap-select1.min.js"></script>
<script>
    $(function () {
        //Country_List
        $.ajax(
            {
                url: '@Url.Action("Country_List", "ListIm_Permission_Filter", new { area = "General_Permission" })',
                type: 'Post',
                success: function (data) {
                    $('#Country_List').empty();
                    $.each(data.Options, function (i, index) {
                        $('#Country_List').append($('<option />').val(index.Value).text(index.DisplayText));

                    }); //each
                    $('#Country_List').selectpicker('refresh');
                } //success
            });//ajax
        //Company_List
        $.ajax(
            {
                url: '@Url.Action("Company_List", "ListIm_Permission_Filter", new { area = "General_Permission" })',
                type: 'Post',
                success: function (data) {
                    $('#Company_List').empty();
                    $.each(data.Options, function (i, index) {
                        $('#Company_List').append($('<option />').val(index.Value).text(index.DisplayText));
                    }); //each
                    $('#Company_List').selectpicker('refresh');
                } //success
            });//ajax
        //ShortName_Lst
        $.ajax(
            {
                url: '@Url.Action("ShortName_List", "ListIm_Permission_Filter", new { area = "General_Permission" })',
                type: 'Post',
                success: function (data) {
                    $('#ShortName_Lst').empty();
                    $.each(data.Options, function (i, index) {
                        $('#ShortName_Lst').append($('<option />').val(index.Value).text(index.DisplayText));
                    }); //each
                    $('#ShortName_Lst').selectpicker('refresh');
                } //success
            });//ajax
    });
    $(document).ready(function () {
        $("#Country_List, #Company_List,#ShortName_Lst").selectpicker({
           liveSearch: true
        });
        App.init();
    });
    $('#messagedata').click(function (e) {
        var c1Value = "@Html.Raw(ViewBag.OperationCode)";
        //alert(c1Value)
        var radio_ID = 0;
        var radios = document.getElementsByName('gender');
        for (var i = 0, length = radios.length; i < length; i++) {
            if (radios[i].checked) {
                // do whatever you want with the checked radio
                radio_ID=radios[i].value;
                // only one radio can be logically checked, don't check the rest
                break;
            }
        }
        Check_Data = 0;
        var Country_ID = $('#Country_List').val();
        var Company_List = $('#Company_List').val();
        var select_Company_Text = $("#Company_List Option:selected").text().split('_')[1];

        var ShortNameLst = $('#ShortName_Lst').val();
        var Im_PermissionRequest_Num = $('#Txt_Im_PermissionRequest').val();
        var select_ShortName_Text = $("#ShortName_Lst Option:selected").text().split('_')[1];

        if (radio_ID == 0) {
            alertify.error("يجب اختيار نوع الطلب");
        }
        else {
            if (Country_ID > 0 || Company_List > 0 || ShortNameLst > 0 || Im_PermissionRequest_Num>0) {
                 Check_Data = 1;
            }
            else {
                alertify.error("يجب اختيار الدولة او الشركة او المسمي المختصر");
            }
        }
     /*  Check_Data = 0;*/
        if (Check_Data == 1) {
            $.ajax({
                url: '@Url.Action("Index", "ListIm_Permission", new { area = "General_Permission" })',
                type: 'Post',
                data: { radio_ID: radio_ID, Company_ID: Company_List, Country_ID: Country_ID, ShortName_ID: ShortNameLst, Im_PermissionRequest_Num: Im_PermissionRequest_Num },
                success: function (message) {
                    window.location.href = '/General_Permission/ListIm_Permission/Index?radio_ID=' + radio_ID + '&Company_ID=' + Company_List
                        + '&Country_ID=' + Country_ID + '&ShortName_ID=' + ShortNameLst + '&Type_Item=' + select_ShortName_Text + '&Type_Company=' + select_Company_Text + '&Im_PermissionRequest_Num=' + Im_PermissionRequest_Num + '&OperationCode=' + Number(c1Value);
                }
            });
        }
    });
</script>