@{
    ViewBag.Title = "طلب تقسيم الرسالة للنقل تحت التحفظ";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

@section Title{
    <h2 class="ls-top-header">طلب تقسيم الرسالة للنقل تحت التحفظ</h2>
}

<br />
@section filter{
    <div class="row">
        <label class="col-md-2">رقم إذن الاستيراد</label>
        <input type="text" class="form-inline col-md-3" autocomplete="off" name="txt_AR_BTNSearch" id="txt_AR_BTNSearch" />
        <input type="button" class="btn btn-primary" id="LoadRecordsButton" value="بحـــث">
    </div>
}
@section Path{
    <li>الوارد</li>
    <li class="active">طلب تقسيم الرسالة للنقل تحت التحفظ</li>
}

<style>
    #jtable-create-form, #jtable-edit-form {
        width: 400px !important;
        overflow: hidden !important;
        height: 300px !important;
    }

    .jtable-input-field-container:nth-of-type(1), .jtable-input-field-container:nth-of-type(2),
    .jtable-input-field-container:nth-of-type(3), .jtable-input-field-container:nth-of-type(4),
    .jtable-input-field-container:nth-of-type(5), .jtable-input-field-container:nth-of-type(6),
    .jtable-input-field-container:nth-of-type(7) {
        margin-bottom: 2px;
        float: right;
        width: 50% !important;
    }
</style>

@section scripts{
    <script type="text/javascript">
        $(function () {
            $('#Resala_DivisionList').jtable({
                title: 'تقسيم الرسالة',
                paging: true,
                pageSize: 10,
                sorting: true,
                //defaultSorting: 'CourseName ASC',
                columnResizable: true,
                columnSelectable: true,
                saveUserPreferences: true,
                actions: {

                    listAction: function (postData, jtParams) {
                        return {
                            "Result": "OK",
                            "Records": [
                                { "Resala_Type_ID": '1', "Resala_Division_ID": '1', "Quantity": '100', "Transportation": '1', "Trans_Number": '111', "Driver_Name": 'ربيع', "Driver_Number": '1030', "Lot_Number": '123' },
                                { "Resala_Type_ID": '2', "Resala_Division_ID": '2', "Quantity": '200', "Transportation": '2', "Trans_Number": '222', "Driver_Name": 'أحمد', "Driver_Number": '1130', "Lot_Number": '321' },
                                { "Resala_Type_ID": '3', "Resala_Division_ID": '3', "Quantity": '300', "Transportation": '3', "Trans_Number": '333', "Driver_Name": 'أيمن', "Driver_Number": '1230', "Lot_Number": '213' }
                            ],
                            "TotalRecordCount": 3
                        };
                    },

                    createAction: 'CreateResala_Division',
                    updateAction: 'UpdateResala_Division',
                    deleteAction: 'DeleteResala_Division'
                },
                fields: {
                    ID: {
                        key: true,
                        create: false,
                        edit: false,
                        list: false
                    },
                    Resala_Type_ID: {
                        title: 'نوع الرسالة',
                        inputClass: 'validate[required]',
                        options: [
                        { Value: '1', DisplayText: 'لوط' },
                        { Value: '2', DisplayText: 'حاوية' },
                        { Value: '3', DisplayText: 'صب' }
                        ],
                        list: true
                    },
                    Lot_Number: {
                        title: 'رقم الرسالة ',
                        inputClass: 'validate[required]',

                    },
                    Resala_Division_ID: {
                        title: 'مكان التحفظ',
                        inputClass: 'validate[required]',
                        options: [
                    { Value: '1', DisplayText: 'مكان التحفظ 1' },
                    { Value: '2', DisplayText: 'مكان التحفظ 2' },
                    { Value: '3', DisplayText: 'مكان التحفظ 3' }
                        ],
                        list: true
                    },

                    Quantity: {
                        title: 'الكمية',
                        inputClass: 'validate[required]',
                        list: true
                    },
                    Transportation: {
                        title: 'وسيلة النقل',
                        inputClass: 'validate[required]',
                        options: [
                   { Value: '1', DisplayText: 'سيارة نقل' },
                   { Value: '2', DisplayText: 'سيارة نصف نقل' },
                   { Value: '3', DisplayText: 'سيارة ربع نقل' }
                        ],
                        list: true
                    },
                    Trans_Number: {
                        title: 'رقم وسيلة النقل',
                        inputClass: 'validate[required]',
                        list: true
                    },
                    Driver_Name: {
                        title: 'اسم السائق',
                        inputClass: 'validate[required]',
                        list: false,
                    },
                    Driver_Number: {
                        title: 'رقم السائق',
                        inputClass: 'validate[required]',
                        list: false,
                    },
                },

                formCreated: function (event, data) {

                    if (data.formType == "create") {
                        $(".ui-dialog-title").text("@PlantQuar.Web.Language.Resource_data1.Add");
                    }
                    else {
                        $(".ui-dialog-title").text("@PlantQuar.Web.Language.Resource_data1.Edit");
                    }


                    //change title  17-3-2019 fz+mai
                    $('.jtable-input-field-container:nth-of-type(2)').find('.jtable-input-label').text('رقم ' + $("#Edit-Resala_Type_ID option:selected").text());
                    $("#Edit-Resala_Type_ID").change(function () {
                    //check if this activity has treatment or not
                    $('.jtable-input-field-container:nth-of-type(2)').find('.jtable-input-label').text('رقم ' + $("#Edit-Resala_Type_ID option:selected").text());
                    });
                    //change title  17-3-2019 fz+mai


                    $("#Edit-Name_Ar, #txt_AR_BTNSearch").attr('autocomplete', 'off');

                    // Arabic + spaces + numeric
                    $("#Edit-Name_Ar").keypress(function (e) {

                        var unicode = e.charCode ? e.charCode : e.keyCode
                        if (unicode != 8) { //if the key isn't the backspace key (which we should allow)
                            if (unicode == 32)
                                return true;
                            else {
                                if ((unicode < 48 || unicode > 57) && (unicode < 0x0600 || unicode > 0x06FF)) //if not a number or arabic
                                    return false; //disable key press
                            }
                        }
                    });

                },
                formSubmitting: function (event, data) {
                    return data.form.validationEngine('validate');
                },
                formClosed: function (event, data) {
                    data.form.validationEngine('hide');
                    data.form.validationEngine('detach');
                    $(".ui-dialog-title").text("@PlantQuar.Web.Language.Resource_data1.Delete");
                },
 recordAdded: function (event, data) {
                    //Mah+Ag 17-4-2019 change display message
                    alertify.success("@PlantQuar.Web.Language.Resource_data1.Save_Insert");
                },
                recordUpdated: function (event, data) {
                                        //Mah+Ag 17-4-2019 change display message
                    alertify.success("@PlantQuar.Web.Language.Resource_data1.Save_Update");
                },recordDeleted: function (event, data) {
                                        //Mah+Ag 17-4-2019 change display message
                    alertify.success("@PlantQuar.Web.Language.Resource_data1.Save_Delete");
                },
            });
            $('#Resala_DivisionList').jtable('load');

            $('#LoadRecordsButton').click(function (e) {

                e.preventDefault();
                $('#Resala_DivisionList').jtable('load', {

                    txt_AR_BTNSearch: $('#txt_AR_BTNSearch').val(),
                });
            });

            $(".jtable-toolbar-item-add-record .jtable-toolbar-item-text").text("@PlantQuar.Web.Language.Resource_data1.Add");

            // Arabic + spaces + numeric
            $("#txt_AR_BTNSearch").keypress(function (e) {
                var unicode = e.charCode ? e.charCode : e.keyCode
                if (unicode != 8) { //if the key isn't the backspace key (which we should allow)
                    if (unicode == 32)
                    { }// return data.form.validationEngine('validate');
                    else {
                        if ((unicode < 48 || unicode > 57) && (unicode < 0x0600 || unicode > 0x06FF)) //if not a number or arabic
                            return false; //disable key press
                    }
                }
            });

        });
    </script>
    <script type="text/javascript">


    $("#tableExcell").click(function () {
        var html = "";
        $.getJSON('/AnalysisLab/AllResala_Division', {}, function (data, succ) {
           // console.log(data)
            $.each(data, function (i, item) {

                html += "<tr><td>" + data[i].Name_Ar + "</td><td>" + data[i].Name_En + "</td>"

                html += "</tr>";
            });
            $("#tbl tbody").empty();
            $("#tbl tbody").append(html);
            tableToExcel('all analysis lab', 'Table');
        });


    });

    var tableToExcel = (function () {
        var uri = 'data:application/vnd.ms-excel;base64,'
            , template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--><meta charset="UTF-8"></head><body><table>{table}</table></body></html>'
            , base64 = function (s) { return window.btoa(unescape(encodeURIComponent(s))) }
            , format = function (s, c) { return s.replace(/{(\w+)}/g, function (m, p) { return c[p]; }) }
        return function (table, name) {
            if (!table.nodeType) table = document.getElementById('tbl')
            var ctx = { worksheet: '@PlantQuar.Web.Language.Resource_data1.AnalysisLab', table: table.innerHTML }
            window.location.href = uri + base64(format(template, ctx))
        }
    })()
    </script>

}
<br />
<div id="Resala_DivisionList">
</div>




<br />
<br />
<br />
<div class="row">
    <iframe id="txtArea1" style="display:none"></iframe>
   <input type="button" value="@PlantQuar.Web.Language.Resource_data1.Export_to_Excel" id="tableExcell">
    <br>
    <br>
    <div class="col-md-12" style="display:none;">
        <br>
        <br>
        <table id="tbl">
            <thead>
                <tr style="background-color:aqua;">
                    <th>Arabic Name</th>
                    <th>English Name</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>

    </div>

</div>

<style>
    #tableExcell {
        float: right;
        height: 37px;
        width: 133px;
        background-color: #1e7c80;
        border: 2px solid #1e8084;
        box-shadow: 0 4px #1d9fa5;
        outline: none;
        color: white;
    }

        #tableExcell:hover {
            background-color: #1a8488;
            border: 1px solid #1a8488;
        }
</style>








